---
import Layout from '../layouts/English5.astro';
import { ViewTransitions } from 'astro:transitions';

---
<ViewTransitions />

<Layout title="About  Leather">
  <main>

  </main>
</Layout>
        