---
import Layout from '../layouts/Layout5.astro';
import { ViewTransitions } from 'astro:transitions';

---
<ViewTransitions />

<Layout title="お問い合わせ">
  <main>
     
  
  </main>
</Layout>
        
