---
import Layout from '../layouts/English14.astro';
import { ViewTransitions } from 'astro:transitions';

---
<ViewTransitions />

<Layout title="FoldWallet">
  <main>
     

  </main>
</Layout>
        