---
import Layout from '../layouts/English1.astro';

import { ViewTransitions } from 'astro:transitions';

---
<ViewTransitions />

<Layout title="We are an online store based in Hokkaido specializing in handmade leather goods.">
  <main>

  </main>
</Layout>
        