---
import Layout from '../layouts/English1.astro';

import { ViewTransitions } from 'astro:transitions';

---
<ViewTransitions />

<Layout title="English page home">
  <main>

  </main>
</Layout>
        