---
import Layout from '../layouts/Pa1orderEn.astro';
import { ViewTransitions } from 'astro:transitions';

---
<ViewTransitions />

<Layout title="Keycase Semi-Order">
  <main>

  </main>
</Layout>
        