---
import Layout from '../layouts/Layout15.astro';
import { ViewTransitions } from 'astro:transitions';

---
<ViewTransitions />

<Layout title="ミニマムウォレットについて">
  <main>
     

  </main>
</Layout>
        