---
import Layout from '../layouts/English13.astro';
import { ViewTransitions } from 'astro:transitions';

---
<ViewTransitions />

<Layout title="Minimam Wallet">
  <main>
     

  </main>
</Layout>
        