---
import Layout from '../layouts/Order2En.astro';
import { ViewTransitions } from 'astro:transitions';

---
<ViewTransitions />

<Layout title="Zip-Around Wallet Order">
  <main>

  </main>
</Layout>