---
import Layout from '../layouts/Pattern5order.astro';
import { ViewTransitions } from 'astro:transitions';

---
<ViewTransitions />

<Layout title="オーダー スマートキーウォレット">
  <main>

  </main>
</Layout>
        