---
import Layout from '../layouts/Pattern8order.astro';
import { ViewTransitions } from 'astro:transitions';

---
<ViewTransitions />

<Layout title="オーダー2つ折り財布">
  <main>

  </main>
</Layout>
        