---
import Layout from '../layouts/Order5En.astro';
import { ViewTransitions } from 'astro:transitions';

---
<ViewTransitions />

<Layout title="Smart Key Wallet Order">
  <main>

  </main>
</Layout>