---
import Layout from '../layouts/Pattern1order.astro';
import { ViewTransitions } from 'astro:transitions';

---
<ViewTransitions />

<Layout title="キーケース オーダー">
  <main>

  </main>
</Layout>
        