---
import Layout from '../layouts/Pattern3.astro';
import { ViewTransitions } from 'astro:transitions';

---
<ViewTransitions />

<Layout title="パターンオーダー キーケース（ フックタイプ ）について">
  <main>

  </main>
</Layout>
        