---
import Layout from '../layouts/Layout7two.astro';
import { ViewTransitions } from 'astro:transitions';

---
<ViewTransitions />

<Layout title="商品リスト２ページ目">
  <main>
     

  </main>
</Layout>
        