---
import Layout from '../layouts/Layout10.astro';
import { ViewTransitions } from 'astro:transitions';

---
<ViewTransitions />

<Layout title="ラウンドウォレット（ミニマム向け）について">
  <main>
     

  </main>
</Layout>
        