---
import Layout from '../layouts/Pa5orderEn.astro';
import { ViewTransitions } from 'astro:transitions';

---
<ViewTransitions />

<Layout title="Smart key wallet Semi-Order">
  <main>

  </main>
</Layout>
        