---
import Layout from '../layouts/Pa2orderEn.astro';
import { ViewTransitions } from 'astro:transitions';

---
<ViewTransitions />

<Layout title="Zip-Around Wallet Semi-Order">
  <main>

  </main>
</Layout>
        