---
import Layout from '../layouts/Layout14.astro';
import { ViewTransitions } from 'astro:transitions';

---
<ViewTransitions />

<Layout title="ラウンドウォレットミニについて">
  <main>
     

  </main>
</Layout>
        