---
import Layout from '../layouts/English11.astro';
import { ViewTransitions } from 'astro:transitions';

---
<ViewTransitions />

<Layout title="SmartKey Wallet">
  <main>
     

  </main>
</Layout>
        