---
import Layout from '../layouts/Layout13.astro';
import { ViewTransitions } from 'astro:transitions';

---
<ViewTransitions />

<Layout title="スマートキーウォレットについて">
  <main>
     

  </main>
</Layout>
        