---
import Layout from '../layouts/Layout17.astro';
import { ViewTransitions } from 'astro:transitions';

---
<ViewTransitions />

<Layout title="ラウンドファスナーウォレットについて">
  <main>
     

  </main>
</Layout>
        