

<div  class="summary-box column">

    <h1 class="section-heading">当店について</h1>
   
  </div>
  <br class="sp">

  <section class="introduction astro-HR23OLMI">
  <div class="introduction__container astro-HR23OLMI">
    <div class="introduction__content astro-HR23OLMI is-inview" data-scroll="">
    <h2 class="introduction__heading astro-HR23OLMI">
        <span class="ttl_line">トスカーナ州で作られた<br class="sp">バケッタ製法の古典</span></h2>
    <p class="introduction__text astro-HR23OLMI">Pirca Mabuiで主に扱っている革は、イタリアのトスカーナ州ポンテ・ア・エゴラ地区にあるVirgilio Conceria Artigiana社が製造する、表面のスクラッチ加工が特徴のショルダー革です。<br class="sp"><br class="sp">歴史のある古代のタンニン鞣し製法“バケッタ製法”を蘇らせて誕生させた、表面に毛羽立たせる加工を施した牛革。<br class="u-pc-only"><br class="pc"><br class="sp">化学薬品を一切使用せず、植物性タンニンで時間をかけてじっくりと丁寧に鞣しています。<br class="sp"><br class="sp">表面の起毛は和紙のような独特の風合いでザラザラした肌触りから、使用していくにつれ内側からのオイルが馴染み、3カ月程度で起毛部分が寝て表面はツルツルになり、その後は美しいツヤ肌になっていきます。<br class="sp"><br class="sp">経年変化による革を育てる楽しみが味わえる、高級素材のひとつです。</p>
      <div class="about__button" data-astro-cid-j7pv25f6="">
        <a href="/aboutleather" class="button center" data-astro-cid-vnzlvqnm="">詳細をみる
           <svg viewBox="0 0 24 24" data-astro-cid-vnzlvqnm="" class="button__icon" astro-icon="majesticons:arrow-up-line">
               <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m12 5 6 6m-6-6-6 6m6-6v14">
                    </path></svg></a></div>
                    
    </div>

    
    
    <figure class="introduction__map astro-HR23OLMI">
    <img src="/fleeee-min.webp" alt="革の説明" class="astro-HR23OLMI">
            <br><center><span style="color: #999999;">画像引用:https://virgilioconceriaartigiana.it</span>  </center>
          </figure>
  </section>

  <br class="sp"> <br class="sp">
  <section class="introduction astro-HR23OLMI">
    <div class="introduction__container astro-HR23OLMI">
      <div class="introduction__content astro-HR23OLMI is-inview" data-scroll="">
      <h2 class="introduction__heading astro-HR23OLMI"><span class="ttl_line">歴史と伝統が紡ぐ、上質な麻糸</span> </h2>
      <p class="introduction__text astro-HR23OLMI">主に２種類の麻糸を使用しています。<br class="pc"><br class="sp"><br class="sp">①&nbsp;1847年創業のフランスの高級麻糸Fil Au Chinoisはエルメスをはじめ、多くの高級メゾンやこだわりを持つ職人達に愛用されているロウ引き麻糸です。<br class="sp"><br class="sp">19世紀末当時の作り方で熟練の職人の手によって製造されているこの麻糸は、丈夫な天然亜麻から作られています。
        <br class="sp"><br class="u-pc-only"><br class="pc">②&nbsp;メーカー&nbsp;:&nbsp;【 Since 】SGS国際検査に認証され、かつヨーロッパEN71-3安全基準を満たしており、丈夫で摩擦に強く、鮮やかな色を保つ高品質の麻糸です。</p></div>
      <figure class="introduction__map astro-HR23OLMI">
      <img src="/fefeknfefee-min.webp" alt="糸の説明" class="astro-HR23OLMI">
              <br><center><span style="color: #999999;">画像引用:https://filauchinois.com/</span>  </center>
            </figure>
    </div>
    </section>
    
    <br class="sp"> <br class="sp">

    <section class="introduction astro-HR23OLMI">
      <div class="introduction__container astro-HR23OLMI">
        <div class="introduction__content astro-HR23OLMI is-inview" data-scroll="">
        <h2 class="introduction__heading astro-HR23OLMI"><span class="ttl_line">400年以上の伝統と音の贅沢</span></h2>
        <p class="introduction__text astro-HR23OLMI">ドイツの老舗金具メーカー「PRYM（プリム）」同社は他のメーカーとは比べ物にならないほどの長い歴史があり、その歴史は400年以上を誇ります。<br class="sp"><br class="pc"><br class="sp"><br class="pc">金具は少し硬めで、「カチッ」とした高い音が開閉時に聞けることでしょう。<br class="sp"><br class="sp">知る人ぞ知るあの「ドイツホック」を製造していたりと、レザーファンにはたまらない金具を提供し続けてくれているメーカーです。</p>
        </div>
        
        <figure class="introduction__map astro-HR23OLMI">
        <img src="/fehhfhehfee-min.webp" alt="Prymロゴ" class="astro-HR23OLMI">
                <br><center><span style="color: #999999;">画像引用:https://www.prym.com/</span>  </center>
              </figure>
      </div>
      </section>

      <br class="sp"> <br class="sp">

      <section class="introduction astro-HR23OLMI">
        <div class="introduction__container astro-HR23OLMI">
          <div class="introduction__content astro-HR23OLMI is-inview" data-scroll="">
          <h2 class="introduction__heading astro-HR23OLMI"><span class="ttl_line">廃業した老舗の逸品</span></h2>
          <p class="introduction__text astro-HR23OLMI">1945年創業のスイス発の老舗金具メーカー、アミエット社のキーホルダーを使用しています。<br class="sp">パーツにはSWISS MADEの刻印がなされ、最高品質の素材が使われた、剛健で美しい金具です。<br class="sp"><br class="sp"><br class="pc"><br class="pc"><span class="stripe-marker">※アミエット社は2021年に廃業しており、現在ストックで製作を行っているため、数量限定となっております。</span>
          </p>
          </div>
          
          <figure class="introduction__map astro-HR23OLMI">
          <img src="/ffasfaf.webp" alt="amietロゴ" class="astro-HR23OLMI">
                  <br><center><span style="color: #999999;"></span>  </center>
                </figure>
        </div>
        </section>





<style>
    
    .stripe-marker {
  background-image: repeating-linear-gradient(-45deg,
    #eee 0, #eee 2px,
    transparent 2px, transparent 4px
  );
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 100% 0.5em;
}


    .ttl_line {
    border-bottom: 1px solid;
    padding-bottom: 9px;
    line-height: 2;
    
}

@media screen and (max-width: 767px) {
                .about__button[data-astro-cid-j7pv25f6] {
                    margin-top:48px;
                }
            }

            @media screen and (min-width: 768px) {
                .about__button[data-astro-cid-j7pv25f6] {
                    margin-top:40px;
                }
            }

            .skill__list[data-astro-cid-j7pv25f6] {
                display: grid;
            }

         
       
            .button[data-astro-cid-vnzlvqnm] {
                display: flex;
                justify-content: center;
                align-items: center;
                width: fit-content;
                color: var(--color-primary);
                background: var(--color-secondary);
                text-align: center;
                border-radius: 40px;
                border: 2px solid var(--color-primary);
                font-weight: 700;
                transition-property: color,background;
                transition-duration: .3s;

                font-family: "Shippori Mincho B1",serif;
                font-size: 0.9rem;

            }

            @media screen and (min-width: 768px) {
                .button[data-astro-cid-vnzlvqnm] {
                    padding:10px 24px;
                    min-width: 240px;
                }
             
                
            }

            @media screen and (max-width: 767px) {
                .button[data-astro-cid-vnzlvqnm] {
                    padding:10px 0px;
                    width: 100%;
                }
                .button__icon[data-astro-cid-v2cbyr3p][data-astro-cid-vnzlvqnm] {
                    display: none;
                }
            }

            @media (hover: hover) {
                .button[data-astro-cid-vnzlvqnm]:where(:any-link,:enabled,summary):hover {
                    background:var(--color-primary);
                    color: var(--color-secondary);
                }

                .button[data-astro-cid-vnzlvqnm]:where(:any-link,:enabled,summary):hover .button__icon[data-astro-cid-vnzlvqnm] {
                    translate: 5px;
                }
            }

            .button__icon[data-astro-cid-vnzlvqnm] {
                width: 24px;
                height: 100%;
                rotate: 90deg;
                flex-shrink: 0;
                transition: translate .3s
            }

            @media screen and (min-width: 768px) {
                .center[data-astro-cid-vnzlvqnm] {
                    margin-inline:auto;
                }
            }


            :root {
    --color-primary: #333;
    --color-secondary: #fff;
    --color-accent: #cc9900;
    --color-background: #f1f2f2;
    --color-background-contact: #2b3143;
    --color-text: #333;
    --color-gray: #888;
    --color-canvas: #2b3143;
    --content-width-small: 800px;
    --content-width-medium: 1200px;
    --headerHeight: 100px;
    --headerHeight-sp: 80px;
}




img.fit {
    width: 100%;
    height: auto;
}

img.cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}




.contents {
    margin-top: 40px;
}



.textCenter {
    text-align: center;
}



@media screen and (max-width: 767px) {
    ._button_1jidj_146 {
        position:relative;
        z-index: 1;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding-bottom: 10px;
        width: clamp(56px,15vw,64px);
        height: clamp(56px,15vw,64px);
        border-radius: 50%;
        background: var(--color-primary);
        color: var(--color-secondary);
    }
}

@media screen and (min-width: 768px) {
    ._button_1jidj_146 {
        display:none;
    }
}

._button_1jidj_146[aria-expanded=true] {
    color: var(--color-primary);
    background: var(--color-secondary);
}

._button_1jidj_146[aria-expanded=true] ._button__icon_1jidj_169:before,._button_1jidj_146[aria-expanded=true] ._button__icon_1jidj_169:after {
    background: var(--color-primary);
}

@media screen and (max-width: 767px) {
    ._button__icon_1jidj_169 {
        position:absolute;
        inset: 0;
        width: 100%;
        height: 100%;
    }

    ._button__icon_1jidj_169:before,._button__icon_1jidj_169:after {
        position: absolute;
        left: 28%;
        content: "";
        display: inline-block;
        background: var(--color-secondary);
        height: 2px;
        border-radius: 24px;
    }

    ._button__icon_1jidj_169:before {
        top: 18px;
        width: 20px;
    }

    ._button__icon_1jidj_169:after {
        top: 26px;
        width: 30px;
    }
}

@media screen and (max-width: 767px) {
    ._button__text_1jidj_200 {
        font-size:14px;
    }
}

._root_1j163_1 {
    display: flex;
    gap: 20px;
}

._root_1j163_1 a {
    display: block;
    width: 20px;
    height: 20px;
    transition: scale .3s;
}

@media (hover: hover) {
    ._root_1j163_1 a:where(:any-link,:enabled,summary):hover {
        scale:1.2;
    }
}

._root_1j163_1 svg {
    width: 100%;
    height: 100%;
}


.contentsLayout[data-astro-cid-scuu7fyy] {
    margin-inline:auto}

@media screen and (max-width: 767px) {
    .contentsLayout[data-astro-cid-scuu7fyy] {
        padding:0 16px;
    }
}
















.summary{
    line-height: 2.3;
  letter-spacing: 0.1em;
  font-family: 'Shippori Mincho', sans-serif;

}




.section-heading {
    text-align: center;
    font-weight: normal;

  letter-spacing: 0.12em;
    position: relative;
    line-height: 1.5;
    
}


.section-heading::after {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: #eee;
    position: absolute;
    bottom: 80;
    left: 0;
    right: 0;
    margin: auto;
}

::before, ::after {
    text-decoration: inherit;
    vertical-align: inherit;
}



.summary-box.column h1 {
  margin-top: 100px;
    font-size: 1.7rem;
    line-height: 2.0;

    font-family: 'Shippori Mincho', serif;
}








  .introduction{
       background-color: var(--color-white);
       margin-bottom: -4px;
       padding-bottom: 4px;
       overflow: hidden;
   }
   
   
   
   .introduction__container {
       display: flex;
       align-items: center;
       width: 100%;
       max-width: 85.375rem;
       margin: 0 auto;
   }
   
   .introduction__content {
       padding: 6.125rem 0 6.125rem 9.5168374817%;
       max-width: 47.364568082%;
   }
   
   
   
   
   .introduction__heading {
    font-family: 'Shippori Mincho', sans-serif;
        font-size: 1.25rem;
       line-height: 1.7;
       transition: 2s cubic-bezier(.16,1,.3,1);
       font-style: italic;

   }
   
   
   h1, h2, h3, h4, h5, h6 {
        font-family: 'Shippori Mincho', sans-serif;

       font-size: inherit;
       font-weight: inherit;
       margin: 0;
   }
   
   
   
   .introduction__text{
        font-family: 'Shippori Mincho B1',serif;
       line-height: 2.3076923077;
       margin-top: 3.125rem;
       transition: .6s 1s;
       font-size: 0.92rem;
       letter-spacing: .05em;


   }
   

   p, table, blockquote, address, pre, iframe, form, figure, dl {
       margin: 0;
   }
   
   *, :before, :after {
       box-sizing: border-box;
       border-style: solid;
       border-width: 0;
   }
   
   .introduction__map{
       display: block;
       flex: 1;
       margin-right: -1.25rem;
       padding-left: 2.5rem;
   }
   
   p, table, blockquote, address, pre, iframe, form, figure, dl {
       margin: 0;
   }
   
   
   body {
       -moz-osx-font-smoothing: grayscale;
       -webkit-font-smoothing: antialiased;
       text-rendering: optimizeLegibility;
       height: 100%;
       letter-spacing: .05em;
       line-height: 1.6923076923;
       color: #333;
       margin: 0;
       font-family: 'Shippori Mincho', sans-serif;


   }

   

     @media print, screen and (max-width: 767px) {

    .summary-box.column h1 {
    font-size: 1.75rem;

}



    .introduction__map[data-astro-cid-v2cbyr3p]{
    padding-left: 0;
}

    .introduction__container{
    flex-direction: column; /* Stack elements vertically on smaller screens */
    align-items: center;
  }

  .introduction__content {
    padding: 2.5rem 0; /* Adjust padding for spacing */
    text-align: center; /* Center text on smaller screens */
  }

  .introduction__map{
    display: block;
    margin: 0;
    width: 100%; /* Make the image take up 100% of the width */
  }

  .introduction__text {
    margin-top: 1.25rem; /* Add space between image and text */
    text-align: left; /* Center text */
    font-size: 0.95rem;
    padding-top: 30px;
  }

  .introduction__heading {
    font-size: 1.25rem;
    line-height: 1.7;
  }

  .introduction__content {
       max-width: 80%;
   }
}





.sp {
    display: none !important;
}

@media screen and (max-width:767px) {
    .pc {
        display: none !important;
    }
    .sp {
        display: block !important;
    }
}




*,:before,:after {
    box-sizing: border-box;
    border-style: solid;
    border-width: 0
}

html {
          line-height: 1.15;
          -webkit-text-size-adjust: 100%;
          -webkit-tap-highlight-color: transparent
      }
      
  

main {
    display: block
}

p,table,blockquote,address,pre,iframe,form,figure,dl {
    margin: 0
}

h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    font-weight: inherit;
    margin: 0
}




hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    border-top-width: 1px;
    margin: 0;
    clear: both;
    color: inherit
}


a {
    background-color: transparent;
    text-decoration: none;
    color: inherit
}

img{
    max-width: 100%;
    height: auto;
}








</style>