

<div  class="summary-box column">

    <h1 class="section-heading">Our Quality</h1>
   
  </div>
  <br class="sp">

  <section class="introduction astro-HR23OLMI">
  <div class="introduction__container astro-HR23OLMI">
    <div class="introduction__content astro-HR23OLMI is-inview" data-scroll="">
    <h2 class="introduction__heading astro-HR23OLMI">
        <span class="ttl_line">The traditional Vacchetta method in the heart of Tuscania, Italy</span></h2>
    <p class="introduction__text astro-HR23OLMI">The leather primarily used by Pirca Mabui is a shoulder leather with a distinctive surface scratch processing, manufactured by Virgilio Conceria Artigiana located in the Ponte a Egola district of Tuscania, Italy.<br class="u-pc-only"><br class="pc"><br class="sp"><br class="sp"><br class="sp">The surface texture begins with a distinctive feel reminiscent of Japanese washi paper, initially rough to the touch. With use, internal oils blend in, gradually smoothing out the texture over a few months, resulting in a smooth surface. Eventually, it develops a beautiful glossy finish.</p>
      <div class="about__button" data-astro-cid-j7pv25f6="">
        <a href="/aboutleatherEn" class="button center" data-astro-cid-vnzlvqnm="">Learn more
           <svg viewBox="0 0 24 24" data-astro-cid-vnzlvqnm="" class="button__icon" astro-icon="majesticons:arrow-up-line">
               <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m12 5 6 6m-6-6-6 6m6-6v14">
                    </path></svg></a></div>
                    
    </div>

    
    
    <figure class="introduction__map astro-HR23OLMI">
    <img src="/fleeee-min.webp" alt="about leather" class="astro-HR23OLMI">
            <br><center><span style="color: #999999;">References:https://virgilioconceriaartigiana.it</span>  </center>
          </figure>
  </section>

  <br class="sp"> <br class="sp">
  <section class="introduction astro-HR23OLMI">
    <div class="introduction__container astro-HR23OLMI">
      <div class="introduction__content astro-HR23OLMI is-inview" data-scroll="">
      <h2 class="introduction__heading astro-HR23OLMI"><span class="ttl_line">Exquisite linen threads, woven with the threads of history and tradition</span> </h2>
      <p class="introduction__text astro-HR23OLMI">We use the premium hemp thread 'Fil Au Chinois,' established in France in 1847.This waxed hemp thread is favored by many luxury maisons, including Hermès, and artisans with discerning tastes.<br class="sp"><br class="sp">This hemp thread, crafted by skilled artisans using techniques from the late 19th century, is made from sturdy natural flax.</p></div>
      <figure class="introduction__map astro-HR23OLMI">
      <img src="/filauchinois.webp" alt="threads" class="astro-HR23OLMI">
              <br><center><span style="color: #999999;">References:https://filauchinois.com/</span>  </center>
            </figure>
    </div>
    </section>
    
    <br class="sp"> <br class="sp">

    <section class="introduction astro-HR23OLMI">
      <div class="introduction__container astro-HR23OLMI">
        <div class="introduction__content astro-HR23OLMI is-inview" data-scroll="">
        <h2 class="introduction__heading astro-HR23OLMI"><span class="ttl_line">Over 400 years of tradition and the luxury of sound.</span></h2>
        <p class="introduction__text astro-HR23OLMI">"The renowned German hardware manufacturer 'PRYM' boasts a history spanning over 400 years, unrivaled by any other company in the industry.<br class="sp"><br class="pc"><br class="sp"><br class="pc">The hardware has a slightly firm feel, and you'll likely hear a distinct 'click' sound when opening and closing. Known for producing that iconic 'German clasp' and providing leather enthusiasts with irresistible hardware, this manufacturer is cherished by those in the know.</p>
        </div>
        
        <figure class="introduction__map astro-HR23OLMI">
        <img src="/prym.webp" alt="Prym" class="astro-HR23OLMI">
                <br><center><span style="color: #999999;">References:https://www.prym.com/</span>  </center>
              </figure>
      </div>
      </section>

      <br class="sp"> <br class="sp">

      <section class="introduction astro-HR23OLMI">
        <div class="introduction__container astro-HR23OLMI">
          <div class="introduction__content astro-HR23OLMI is-inview" data-scroll="">
          <h2 class="introduction__heading astro-HR23OLMI"><span class="ttl_line">A masterpiece from a bygone era</span></h2>
          <p class="introduction__text astro-HR23OLMI">We use key holders from Amiet, a renowned Switzerland hardware manufacturer founded in 1945.It's a captivating piece of hardware crafted from premium materials, robust and beautiful.<br class="sp"><br class="sp"><br class="pc"><br class="pc"><span class="stripe-marker"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#0f0f0f" viewBox="0 0 256 256"><path d="M230.08,78.26l-31.84,26.88L208,145.33a5.46,5.46,0,0,1-8.19,5.86L164,129.66l-35.78,21.53a5.46,5.46,0,0,1-8.19-5.86l9.73-40.19L97.92,78.26a5.38,5.38,0,0,1,3.13-9.48l41.79-3.31,16.1-38.14a5.51,5.51,0,0,1,10.12,0l16.1,38.14L227,68.78A5.38,5.38,0,0,1,230.08,78.26Z" opacity="0.2"></path><path d="M239.35,70.08a13.41,13.41,0,0,0-11.77-9.28l-36.94-2.92L176.43,24.22a13.51,13.51,0,0,0-24.86,0L137.36,57.88,100.42,60.8a13.39,13.39,0,0,0-7.66,23.58l28.06,23.68-8.56,35.39a13.32,13.32,0,0,0,5.1,13.91,13.51,13.51,0,0,0,15,.69L164,139l31.65,19.06a13.54,13.54,0,0,0,15-.69,13.34,13.34,0,0,0,5.09-13.91l-8.56-35.39,28.06-23.68A13.32,13.32,0,0,0,239.35,70.08ZM193.08,99a8,8,0,0,0-2.61,8l8.28,34.21L168.13,122.8a8,8,0,0,0-8.25,0l-30.62,18.43L137.54,107a8,8,0,0,0-2.62-8L108,76.26l35.52-2.81a8,8,0,0,0,6.74-4.87L164,35.91l13.79,32.67a8,8,0,0,0,6.74,4.87l35.53,2.81Zm-105,24.18L29.66,181.66a8,8,0,0,1-11.32-11.32l58.45-58.45a8,8,0,0,1,11.32,11.32Zm10.81,49.87a8,8,0,0,1,0,11.31L45.66,237.66a8,8,0,0,1-11.32-11.32l53.27-53.26A8,8,0,0,1,98.92,173.08Zm73-1a8,8,0,0,1,0,11.32l-54.28,54.28a8,8,0,0,1-11.32-11.32l54.29-54.28A8,8,0,0,1,171.94,172.06Z"></path></svg>Amiet ceased operations in 2021, but we've managed to procure a limited stock for our production, ensuring exclusivity and quality for our customers.</span>
          </p>
          </div>
          
          <figure class="introduction__map astro-HR23OLMI">
          <img src="/amiet.webp" alt="amiet" class="astro-HR23OLMI">
                  <br><center><span style="color: #999999;"></span>  </center>
                </figure>
        </div>
        </section>





<style>
    
    .stripe-marker {
  background-image: repeating-linear-gradient(-45deg,
    #eee 0, #eee 2px,
    transparent 2px, transparent 4px
  );
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 100% 0.5em;
}


    .ttl_line {
    border-bottom: 1px solid;
    line-height: 1.65em;
    
}

@media screen and (max-width: 767px) {
                .about__button[data-astro-cid-j7pv25f6] {
                    margin-top:48px;
                }
            }

            @media screen and (min-width: 768px) {
                .about__button[data-astro-cid-j7pv25f6] {
                    margin-top:40px;
                }
            }

            .skill__list[data-astro-cid-j7pv25f6] {
                display: grid;
            }

         
       
            .button[data-astro-cid-vnzlvqnm] {
                display: flex;
                justify-content: center;
                align-items: center;
                width: fit-content;
                color: var(--color-primary);
                background: var(--color-secondary);
                text-align: center;
                border-radius: 40px;
                border: 2px solid var(--color-primary);
                transition-property: color,background;
                transition-duration: .3s;
                font-family: 'Open Sans Variable', sans-serif;  
                font-size: 1rem;

            }

            @media screen and (min-width: 768px) {
                .button[data-astro-cid-vnzlvqnm] {
                    padding:8px 16px;
                    min-width: 240px;
                }
             
                
            }

            @media screen and (max-width: 767px) {
                .button[data-astro-cid-vnzlvqnm] {
                    padding:10px 0px;
                    width: 100%;
                }
                .button__icon[data-astro-cid-v2cbyr3p][data-astro-cid-vnzlvqnm] {
                    display: none;
                }
            }

            @media (hover: hover) {
                .button[data-astro-cid-vnzlvqnm]:where(:any-link,:enabled,summary):hover {
                    background:var(--color-primary);
                    color: var(--color-secondary);
                }

                .button[data-astro-cid-vnzlvqnm]:where(:any-link,:enabled,summary):hover .button__icon[data-astro-cid-vnzlvqnm] {
                    translate: 5px;
                }
            }

            .button__icon[data-astro-cid-vnzlvqnm] {
                width: 24px;
                height: 100%;
                rotate: 90deg;
                flex-shrink: 0;
                transition: translate .3s
            }

            @media screen and (min-width: 768px) {
                .center[data-astro-cid-vnzlvqnm] {
                    margin-inline:auto;
                }
            }


            :root {
    --color-primary: #333;
    --color-secondary: #fff;
    --color-accent: #cc9900;
    --color-background: #f1f2f2;
    --color-background-contact: #2b3143;
    --color-text: #333;
    --color-gray: #888;
    --color-canvas: #2b3143;
    --content-width-small: 800px;
    --content-width-medium: 1200px;
    --headerHeight: 100px;
    --headerHeight-sp: 80px;
}




img.fit {
    width: 100%;
    height: auto;
}

img.cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}




.contents {
    margin-top: 40px;
}



.textCenter {
    text-align: center;
}



@media screen and (max-width: 767px) {
    ._button_1jidj_146 {
        position:relative;
        z-index: 1;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding-bottom: 10px;
        width: clamp(56px,15vw,64px);
        height: clamp(56px,15vw,64px);
        border-radius: 50%;
        background: var(--color-primary);
        color: var(--color-secondary);
    }
}

@media screen and (min-width: 768px) {
    ._button_1jidj_146 {
        display:none;
    }
}

._button_1jidj_146[aria-expanded=true] {
    color: var(--color-primary);
    background: var(--color-secondary);
}

._button_1jidj_146[aria-expanded=true] ._button__icon_1jidj_169:before,._button_1jidj_146[aria-expanded=true] ._button__icon_1jidj_169:after {
    background: var(--color-primary);
}

@media screen and (max-width: 767px) {
    ._button__icon_1jidj_169 {
        position:absolute;
        inset: 0;
        width: 100%;
        height: 100%;
    }

    ._button__icon_1jidj_169:before,._button__icon_1jidj_169:after {
        position: absolute;
        left: 28%;
        content: "";
        display: inline-block;
        background: var(--color-secondary);
        height: 2px;
        border-radius: 24px;
    }

    ._button__icon_1jidj_169:before {
        top: 18px;
        width: 20px;
    }

    ._button__icon_1jidj_169:after {
        top: 26px;
        width: 30px;
    }
}

@media screen and (max-width: 767px) {
    ._button__text_1jidj_200 {
        font-size:14px;
    }
}

._root_1j163_1 {
    display: flex;
    gap: 20px;
}

._root_1j163_1 a {
    display: block;
    width: 20px;
    height: 20px;
    transition: scale .3s;
}

@media (hover: hover) {
    ._root_1j163_1 a:where(:any-link,:enabled,summary):hover {
        scale:1.2;
    }
}

._root_1j163_1 svg {
    width: 100%;
    height: 100%;
}


.contentsLayout[data-astro-cid-scuu7fyy] {
    margin-inline:auto}

@media screen and (max-width: 767px) {
    .contentsLayout[data-astro-cid-scuu7fyy] {
        padding:0 16px;
    }
}





.summary{
    line-height: 1.65em;
    letter-spacing: .065px;
    font-family: 'Open Sans Variable', sans-serif;
}




.section-heading {
    text-align: center;
    font-weight: normal;

    letter-spacing: .065px;
    position: relative;
    line-height: 1.65em;
    
}


.section-heading::after {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: #1C1C1C;
    position: absolute;
    bottom: 80;
    left: 0;
    right: 0;
    margin: auto;
}

::before, ::after {
    text-decoration: inherit;
    vertical-align: inherit;
}



.summary-box.column h1 {
  margin-top: 100px;
    font-size: 1.7rem;
    line-height: 1.65em;

    font-family: 'Open Sans Variable', sans-serif;
}








  .introduction{
       background-color: var(--color-white);
       margin-bottom: -4px;
       padding-bottom: 4px;
       overflow: hidden;
   }
   
   
   
   .introduction__container {
       display: flex;
       align-items: center;
       width: 100%;
       max-width: 85.375rem;
       margin: 0 auto;
   }
   
   .introduction__content {
       padding: 6.125rem 0 6.125rem 9.5168374817%;
       max-width: 47.364568082%;
   }
   
   
   
   
   .introduction__heading {
    font-family: 'Open Sans Variable', sans-serif;    
        font-size: 1.12rem;
        line-height: 1.65em;
       transition: 2s cubic-bezier(.16,1,.3,1);
       font-style: italic;

   }
   
   
   h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans Variable', sans-serif;
       font-size: inherit;
       font-weight: inherit;
       margin: 0;
   }
   
   
   
   .introduction__text{
    font-family: 'Open Sans Variable', sans-serif;
       margin-top: 3.125rem;
       transition: .6s 1s;
       font-size: 1rem;
       line-height: 1.65em;  
   letter-spacing: .085px;  


   }
   

   p, table, blockquote, address, pre, iframe, form, figure, dl {
       margin: 0;
   }
   
   *, :before, :after {
       box-sizing: border-box;
       border-style: solid;
       border-width: 0;
   }
   
   .introduction__map{
       display: block;
       flex: 1;
       margin-right: -1.25rem;
       padding-left: 2.5rem;
   }
   
   p, table, blockquote, address, pre, iframe, form, figure, dl {
       margin: 0;
   }
   
   
   body {
       -moz-osx-font-smoothing: grayscale;
       -webkit-font-smoothing: antialiased;
       text-rendering: optimizeLegibility;
       height: 100%;
       letter-spacing: .055px;
       line-height: 1.65em;
       color: #333;
       margin: 0;
       font-family: 'Open Sans Variable', sans-serif;

   }

   

     @media print, screen and (max-width: 767px) {

    .summary-box.column h1 {
    font-size: 1.75rem;

}



    .introduction__map[data-astro-cid-v2cbyr3p]{
    padding-left: 0;
}

    .introduction__container{
    flex-direction: column; /* Stack elements vertically on smaller screens */
    align-items: center;
  }

  .introduction__content {
    padding: 2.5rem 0; /* Adjust padding for spacing */
    text-align: center; /* Center text on smaller screens */
  }

  .introduction__map{
    display: block;
    margin: 0;
    width: 100%; /* Make the image take up 100% of the width */
    padding-left: 0rem;
  }

  .introduction__text {
    margin-top: 1.25rem; /* Add space between image and text */
    text-align: left; /* Center text */
    font-size: 1.05rem;
    padding-top: 30px;
  }

  .introduction__heading {
    font-size: 1.25rem;
    line-height: 1.5;
  }

  .introduction__content {
       max-width: 80%;
   }
}





.sp {
    display: none !important;
}

@media screen and (max-width:767px) {
    .pc {
        display: none !important;
    }
    .sp {
        display: block !important;
    }
}




*,:before,:after {
    box-sizing: border-box;
    border-style: solid;
    border-width: 0
}

html {
    line-height: 1.65em;
          -webkit-text-size-adjust: 100%;
          -webkit-tap-highlight-color: transparent
      }
      
  

main {
    display: block
}

p,table,blockquote,address,pre,iframe,form,figure,dl {
    margin: 0
}

h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    font-weight: inherit;
    margin: 0
}




hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    border-top-width: 1px;
    margin: 0;
    clear: both;
    color: inherit
}


a {
    background-color: transparent;
    text-decoration: none;
    color: inherit
}

img{
    max-width: 100%;
    height: auto;
}








</style>