<div class="footer02">
    <ul class="menu">
      <li><a href="/homeEn">Home</a></li>
      <li><a href="/aboutEn">Quality</a></li>
      <li><a href="/teams-of-setvice">Terms of Service</a></li>
      <li><a href="/contact">Contact Us</a></li>
    </ul>
    <p class="copyright">
      © 2024.PIRCA MABUI. All Rights Reserved.
    </p>
  </div>


  <style>  
  
  .footer02 {
    color: #808080;
    background:#1C1C1C;
    text-align: center;
    padding: 30px;
    margin-top: 50px;
    
   }
   .footer02 a {
    color: #808080;
    text-decoration: none;
    font-family: 'Open Sans Variable', sans-serif;
    font-size: 0.8rem;
    letter-spacing: .065px;

   }
   .footer02 a:hover {
    text-decoration: underline;
   }
   .footer02 .menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   }
   .footer02 .menu li {
    margin: 0;
    padding: 0 20px;
   
   }
   .footer02 .copyright {
    margin: 0;
    padding: 20px 0 0 0;
    font-size: 0.8rem;
    letter-spacing: .065px;

   }
   
   html,body {
  height: 100%;
}
   
   </style>