<nav class="navbar">
    <!-- LOGO -->
    <div class="logo"></div>

    <!-- NAVIGATION MENU -->
    <ul class="nav-links">


      <!-- NAVIGATION MENUS -->
      <div class="menu">

        <li><a href="/">ホーム</a></li>

        <li><a href="/kodawari">こだわり</a></li>

        <li class="services">
          <a href="/">商品</a>

        </li>
      </div>
    </ul>
  </nav>




  <style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

    font-family: 'Shippori Mincho', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}


/* NAVBAR STYLING STARTS */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;

        top: 0px;
        width: 100%;
        height: 30px;
   
}


@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
    flex-wrap: wrap;
    }
}



.nav-links a {
  color: black;
}

.menu a:hover { border-bottom:1px solid black;}


/* LOGO */
.logo {
  font-size: 32px;
}

/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 1rem;
}


.menu li {
  padding: 5px 14px;
}

/* DROPDOWN MENU */
.services {
  position: relative; 
}

</style>