
<div class="wrapper">
    <main class="contents">

<h1 class="c-pageTitle lawTitle">Terms Of Service</h1>
<div class="c-pageContent lawContent">
  <section class="c-pageSection">
    <h2 class="c-pageSection_title">About the vendor</h2>
    <p class="c-pageSection_text">Store Name&thinsp;:&thinsp;Pirca Mabui</p>
    <p class="c-pageSection_text">Vendor or Seller&thinsp;:&thinsp;Hernandez</p>
    <p class="c-pageSection_text">Sales Manager or Sales Representative&thinsp;:&thinsp;Hernandez</p>
    <p class="c-pageSection_text">Handled Products or Merchandise&thinsp;:&thinsp;Leather goods such as accessories and bags</p>
    <p class="c-pageSection_text">Location&thinsp;:&thinsp;Hokkaido, Obihiro, Nishikujō Minami 1-2-1</p>
    <p class="c-pageSection_text">Phone Number&thinsp;:&thinsp;*Phone inquiries are not available. Please use the contact form for inquiries.</p>
    <p class="c-pageSection_text">Contact Email Address&thinsp;:&thinsp;rafale944@gmail.com</p>
    <p class="c-pageSection_text">URL&thinsp;:&thinsp;https://pircamabui.com/</p>
  </section>
  <section class="c-pageSection">
    <h2 class="c-pageSection_title">Regarding discrepancies in monitor display</h2>
    <p class="c-pageSection_text">
      ・The actual product delivered may appear differently in terms of color and other aspects from the images displayed, depending on the viewing device or display. Please be aware of this beforehand.<br>
      <br>・Especially for leather products, please be aware that the texture, such as glossiness and wrinkles, may appear differently from the images displayed on your computer monitor. 
    </p>
  </section>
  <section class="c-pageSection">
    <h2 class="c-pageSection_title">Regarding consumption tax</h2>
    <p class="c-pageSection_text">The displayed prices include a 10% consumption tax.</p>
  </section>

  <section class="c-pageSection">
    <h2 class="c-pageSection_title">Shipping Date</h2>
    <p class="c-pageSection_text">
        ORDERS:<br>・Since most things are custom made, they are made to order. Depending on the amount of orders that come through from customers, wait times for an item can take 2~3 weeks until they are shipped.<br><br>SHIPPING:<br>・Shipping is free of charge<br><br>International Customers:<br>・We ship via Japan Post. We select the cheapest tracked parcel option which is unfortunately not the cheapest option, but it's the safest.
        <br>・After the item is made it is then usually shipped within 2 days of completion.
    </p>
  </section>

  <section class="c-pageSection">
    <h2 class="c-pageSection_title">About Payment Billing Date
    </h2>
    <p class="c-pageSection_text">
        We accept payment methods such as Amazon Pay, and bank transfer.
        <br>   <br>
        Post pay(Pay ID):
        <br>
        ・ Convenience store: Pay on the 10th of the month following purchase: Payment service fee: 350 JPY (tax included)
        <br>
        ・ Bank account transfer: Debited account by the 27th of the following month : Payment service fee: Free
        <br>   <br>
        Bank Transfer:
        <br>
        ・Bank Transfer commission fee: 360 yen (w/ tax)
    </p>
  </section>


  <section class="c-pageSection">
    <h2 class="c-pageSection_title">Regarding receipts</h2>
    <p class="c-pageSection_text">
     ・We do not issue receipts. Please refer to the usage details provided by each settlement operator.<br>
    </p>
  </section>

  <section class="c-pageSection">
    <h2 class="c-pageSection_title">Regarding delivery invoices</h2>
    <p class="c-pageSection_text">
     ・As part of our commitment to both privacy and environmental protection, we have implemented paperless processes. Therefore, delivery invoices (purchase statements) are not included with your order. <br>
    </p>
  </section>
  <section class="c-pageSection">
    <h2 class="c-pageSection_title">Notes on Refund and Returning Goods</h2>
    <p class="c-pageSection_text">
        We accept returns under the following conditions:<br>・Please contact us within 7 days of receiving the item if the received item differs from the ordered product.<br>In the event of a shipping error, we will bear the responsibility. Once confirmed, we will provide instructions for returning the item.<br>
        <br>*Please note that returns cannot be accepted if more than one week has passed since delivery.<br>Cancellations or returns after production has started cannot be accommodated. Therefore, cancellations after production has commenced cannot be accepted.<br><br>*Please be aware that if items are returned without prior communication, we cannot accept returns or exchanges.
<br><br>*Please note that returns or exchanges due to customer preference without product defects are not accepted under the following circumstances. Please consider carefully before placing your order:<br><br>
・Discrepancy between the color seen on display and the actual product color.
<br>・Feedback on exceptionally meticulous products beyond common sense.<br>・Products that have been scratched or soiled while in the customer's possession<br>・Reasons based on personal feelings or emotions, such as 'difficult to use' or 'different from the image<br>・Previously used items<br>・Items that have been in possession for more than 8 days after arrival<br>・Items that have lost or damaged packaging, or have been discarded.
    </p>
  </section>


</div>


</main>


<style>

.kome{
    color: #00896C;

}


* {
    padding: 0;
    margin: 0;
}

*,:before,:after {
    box-sizing: border-box;
    border-style: solid;
    border-width: 0
}
html {
          -webkit-text-size-adjust: 100%;
          -webkit-tap-highlight-color: transparent
      }
      
      body {
          margin: 0;
          color: #333;
          -moz-osx-font-smoothing: grayscale;
       -webkit-font-smoothing: antialiased;
       text-rendering: optimizeLegibility;
       font-family: 'Open Sans Variable', sans-serif;  

      }

main {
    display: block
}

p,table,blockquote,address,pre,iframe,form,figure,dl {
    margin: 0
}

h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    font-weight: inherit;
    margin: 0
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    border-top-width: 1px;
    margin: 0;
    clear: both;
    color: inherit
}

a {
    background-color: transparent;
    text-decoration: none;
    color: inherit
}

.c-pageTitle {
    font-family: 'Open Sans Variable', sans-serif;  
    font-size: 50px;
    letter-spacing: .065px;   
    padding: 0 0 50px;
    margin: 100px 40px 80px;
    border-bottom: 1px solid #010101;
    
}

.wrapper{
    padding-bottom: 100px;
}

p{
    font-family: 'Open Sans Variable', sans-serif;  
    line-height: 1.65em;
    letter-spacing: .065px;   
    margin-top: 3.125rem;
    transition: .6s 1s;
    font-size: 1rem;
}

.lawContent {
    max-width: 1080px;
    padding: 0 40px;
    margin: 0 auto;
}

.c-pageSection_title {
    font-size: 24px;
    margin: 0 0 40px;
}

.c-pageSection_text {
    line-height: 1.65em;
    margin: 20px 0 0;
    font-size: 1.05rem;
}

.c-pageSection {
    margin: 80px 0 0;
}

.c-pageSection_title {
    font-size: 24px;
    margin: 0 0 40px;
}

.c-pageSection_text {
    line-height: 1.65em;
    margin: 20px 0 0;
}





*, :before, :after {
    box-sizing: border-box;
    /* border-style: solid; */
    /* border-width: 0; */
}

</style>