
<div class="wrapper">
    <main class="contents">

<h1 class="c-pageTitle lawTitle">LEGAL</h1>
<div class="c-pageContent lawContent">
  <section class="c-pageSection">
    <h2 class="c-pageSection_title">販売業者について</h2>
    <p class="c-pageSection_text">店舗名称<br>Pirca Mabui (ピㇼカマブイ)</p>
    <p class="c-pageSection_text">販売業者<br>ヘルナンデス</p>
    <p class="c-pageSection_text">販売責任者:<br>ヘルナンデス</p>
    <p class="c-pageSection_text">取り扱い商品<br>小物や鞄等の皮革製品</p>
    <p class="c-pageSection_text">所在地<br>〒0800019 北海道帯広市西九条南1-2-1</p>
    <p class="c-pageSection_text">電話番号<br>070-4798-7668<br>(※申し訳ございませんが、電話の窓口は設けておりません。お問い合わせフォームにてお願いいたします。)</p>
    <p class="c-pageSection_text">連絡先メールアドレス<br>rafale944@gmail.com</p>
    <p class="c-pageSection_text">ホームページURL<br>https://pircamabui.com/</p>
  </section>
  <section class="c-pageSection">
    <h2 class="c-pageSection_title">モニター表示との相違について</h2>
    <p class="c-pageSection_text">
      ・実際にお届けする商品はご覧になる端末やディスプレイによって掲載写真と色彩等のイメージが異なる場合がございますので、予めご了承下さい。<br>
      ・特に革製品の場合、光沢やシワ等の風合いがパソコンモニター掲載写真と異なる場合がございますので、予めご了承下さい。
    </p>
  </section>
  <section class="c-pageSection">
    <h2 class="c-pageSection_title">消費税について</h2>
    <p class="c-pageSection_text">消費税10%は商品代金（表示価格）に含まれています。</p>
  </section>
  <section class="c-pageSection">
    <h2 class="c-pageSection_title">ご負担いただく費用について</h2>
    <p class="c-pageSection_text">
      ・以下の費用はお客様のご負担となります。<br>銀行振込手数料<br>
      ・ご注文確認画面にて上記金額を含んだご請求額をご確認下さい。
    </p>
  </section>
  <section class="c-pageSection">
    <h2 class="c-pageSection_title">梱包配送料金について</h2>
    <p class="c-pageSection_text">
      ・送料は無料です。<br>
      配送方法は、商品の大きさに合わせ日本郵便のレターパックプラス、ゆうパックでの配送になります。お支払い方法が銀行振込の場合は、ご入金確認後に発送いたします。<br>
      ※当店では送料込みの為、簡易包装での発送となります。<br>
      ※１回の注文の同梱品は、１コ口での配送となりますが、数量によっては安全性確保のために梱包を複数に分割する場合がございます。
    </p>
  </section>

  <section class="c-pageSection">
    <h2 class="c-pageSection_title">お支払い方法について</h2>
    <p class="c-pageSection_text">
      ・クレジットカード (VISA / Mastercard / JCB / American Express / Diners Club )<br>
      ・コンビニ決済 (ファミリーマート / ローソン / ミニストップ / デイリーヤマザキ / セイコーマート)<br>
      ・あと払い（ペイディ）<br>
      ・銀行振込<br>
      ・paypal<br>
      ・キャリア決済 (d払い / auかんたん決済 / ソフトバンクまとめて支払い)<br>
      ・銀行振込<br>
      ・楽天ペイ<br>
      ・PayPay残高
      <br class="sp">※銀行振り込み手数料はお客様ご負担となります。  
    </p>
  </section>
  <section class="c-pageSection">
    <h2 class="c-pageSection_title">お支払い期限について</h2>
    <p class="c-pageSection_text">
     ・クレジットカード、PayPal、キャリア決済、楽天ペイ、PayPay残高 商品ご注文時点でお支払いが確定します。<br>
     ・コンビニ決済、銀行振込 商品注文時点から約3日間の期限内にお支払いください。お支払い期限を過ぎると、自動でキャンセルとなります。 
    </p>
  </section>

  <section class="c-pageSection">
    <h2 class="c-pageSection_title">領収書について</h2>
    <p class="c-pageSection_text">
     ・当店では、領収書の発行は行っておりません。各決算事業者様のご利用明細をご利用ください。<br>
    </p>
  </section>

  <section class="c-pageSection">
    <h2 class="c-pageSection_title">納品書について</h2>
    <p class="c-pageSection_text">
     ・個人情報と環境保護の取り組みとして、ペーパーレス化を実装しており、お届けのご注文商品に納品書（お買上明細書）は同封いたしておりませんので、何卒ご理解のほどよろしくお願い申し上げます。<br>
    </p>
  </section>
  <section class="c-pageSection">
    <h2 class="c-pageSection_title">製品のお届けについて</h2>
    <p class="c-pageSection_text">
        ご注文を頂いてから一点ずつ丁寧に手作りで製作するため、発送まで3週間程お時間を頂いております。<br>
      ・パターンオーダーの場合には、仕入れにかかる日数を加え、発送まで4週間程度お時間を頂いております。<br>
      ・銀行振込の場合は、ご入金確認後に発送させて頂きます。<br>
      ・ご注文受付後に納期の変更等が発生した際には別途Ｅメールでご連絡を差し上げます。
    </p>
    <p class="c-pageSection_text">
      ※交通事情、また天候等による交通の乱れにより、配送に遅れが生じる可能性がございます。遅延状況は当店より発送時にお送りする確認メールに記載された問い合わせ番号にて、指定の運送会社まで直接お問い合わせ下さい。<br><br>
      ※年末年始等交通の混雑、大雪や台風などの悪天候による交通の乱れにより、配送に遅れが生じる可能性がございます。遅延状況は当店より発送時にお送りする確認メールに記載された問い合わせ番号にて、指定の運送会社まで直接お問い合わせ下さい。
    </p>
  </section>
  <section class="c-pageSection">
    <h2 class="c-pageSection_title">返品・交換について</h2>
    <p class="c-pageSection_text">
      商品の返品は下記の場合に限り承り、商品到着後～7日以内にご連絡下さい。<br>
      <p class="c-pageSection_text">
        ・注文の商品と送られてきた商品が相違していた場合。<br>
        ・誤配送の際は当店負担とさせていただきます。
      
      確認後、当店より商品返品方法をご案内させていただきます。<br><br>
      （お届けから一週間以上が過ぎますと、返品につきましてはお受けいたしかねますのでご注意下さい。）<br>
      製作を開始してからの途中キャンセルや完成後の返品が出来ません。<br class="sp">このため製作開始後のキャンセルはお受け致しかねます。
      <br>※ご連絡がないまま返送された場合には、返品・交換をお受けできませんのでご注意ください。 

    </p>
 
    <p class="c-pageSection_text">
      ※お届けした商品に不具合がなく、下記に該当するお客様のご都合による返品・交換はお受け出来ません。予めご了承の上、よくご検討いただきご注文下さい。
    </p>
    <p class="c-pageSection_text">
      ・「ディスプレイで見た色と実物の色が違う」というご指摘。<br>
      ・常識を超えた神経質な商品へのご指摘。<br>
      ・お客様のもとでキズや汚れが生じた商品。<br>      
      ・「使い勝手が悪い」「イメージが違う」など個人的な感覚や感情による理由。<br>
      ・一度ご使用になられた商品。<br>
      ・商品到着後8日以上経過した商品。<br>
      ・商品パッケージなどを紛失したり破損・破棄した商品。
    </p>
  </section>

  <section class="c-pageSection">
    <h2 class="c-pageSection_title">決算に伴うセキュリティ対策について</h2>
    <p class="c-pageSection_text">
      当ショップは、株式会社STORESが提供するオンラインショップサーバーを利用しています。<br>
      送信フォームは、サーバーとお客様がご利用のパソコンとの通信を暗号化保護し、入力する際の情報を覗き見されないSSL（Secure Sockets Layer)対応です。<br>
      クレジットカード情報は、株式会社ヘイ株式会が運営する決済サーバーに、トークン方式（カード情報非通過方式）により直接送信されるため、オンラインショップサーバーを通過いたしません。<br>
      また、当ショップ及び株式会社ヘイ株式会では、クレジットカード情報を一切保持しておりません。<br>
      グローバル標準のセキュリティ基準(PCI DSS)に準拠しシステム設計しており、公式に安全性が認められています。
      <br>
      ・ご利用のスマートフォン・タブレット端末やPCにて、クレジットカードユーザーのカード情報を閲覧したり、個人情報が残ることはございません。<br>
      ・ご利用のスマートフォン・タブレット端末やPCからクレジットカードユーザーのカード情報を盗まれることはございません。
    </p>
  </section>

  <section class="c-pageSection">
    <h2 class="c-pageSection_title">個人情報取り扱いについて</h2>
    <p class="c-pageSection_text">
     ・個人情報保護の重要性を認識し、適切に利用し、保護することが社会的責任であると考え、個人情報の保護に努めることをお約束いたします。<br>
    </p>
  </section>

  <section class="c-pageSection">
    <h2 class="c-pageSection_title">個人情報の取扱いの適用範囲</h2>
    <p class="c-pageSection_text">
     ・当店は以下の目的のため、その範囲内においてのみ、個人情報を収集・利用いたします。<br>
     ・個人情報の収集・利用は、お客様の自発的な提供によるものであり、お客様が個人情報を提供された場合は、当店が本方針に則って個人情報を利用することをお客様が許諾したものとします。<br>
     ・ご注文された当店の商品をお届けするうえで必要な業務<br>
     ・業務遂行上で必要となる当店からの問い合わせ、確認、およびサービス向上のための意見収集<br>
     ・各種のお問い合わせ対応
    </p>
  </section>

  <section class="c-pageSection">
    <h2 class="c-pageSection_title">個人情報の安全管理について</h2>
    <p class="c-pageSection_text">
     ・個人情報の正確性及び安全性を確保する為、個人情報へのアクセス管理、不正アクセスおよび、漏洩、改ざんなどに対しては、合理的な安全対策を講じるとともに、万一、漏洩等個人情報に関する事故が発生した場合には、再発防止策を含む適切な対策を速やかに講じます。<br>
    </p>
  </section>

</div>


</main>


<style>






.kome{
    color: #00896C;

}


* {
    padding: 0;
    margin: 0;
}






*,:before,:after {
    box-sizing: border-box;
    border-style: solid;
    border-width: 0
}
html {
          line-height: 1.15;
          -webkit-text-size-adjust: 100%;
          -webkit-tap-highlight-color: transparent
      }
      
      body {
          margin: 0;
          color: #333;
          -moz-osx-font-smoothing: grayscale;
       -webkit-font-smoothing: antialiased;
       text-rendering: optimizeLegibility;
       font-family: 'Shippori Mincho', sans-serif;

      }

main {
    display: block
}

p,table,blockquote,address,pre,iframe,form,figure,dl {
    margin: 0
}

h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    font-weight: inherit;
    margin: 0
}




hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    border-top-width: 1px;
    margin: 0;
    clear: both;
    color: inherit
}


a {
    background-color: transparent;
    text-decoration: none;
    color: inherit
}




.c-pageTitle {
  font-family: "Shippori Mincho B1",serif;
    font-size: 50px;
    letter-spacing: -0.02em;
    padding: 0 0 50px;
    margin: 100px 40px 80px;
    border-bottom: 1px solid #010101;
    
}

.wrapper{
    padding-bottom: 100px;
}

p{
    font-family: "Shippori Mincho B1",serif;
    line-height: 2.3076923077;
    margin-top: 3.125rem;
    transition: .6s 1s;
    font-size: 0.9rem;
    letter-spacing: .05em;
}



.lawContent {
    max-width: 1080px
px
;
    padding: 0 40px;
    margin: 0 auto;
}

.c-pageSection_title {
    font-size: 24px;
    margin: 0 0 40px;
}

.c-pageSection_text {
    line-height: 2;
    margin: 20px 0 0;
    font-size: 0.9375rem;
}

.c-pageSection {
    margin: 80px 0 0;
}

.c-pageSection_title {
    font-size: 24px;
    margin: 0 0 40px;
}

.c-pageSection_text {
    line-height: 2;
    margin: 20px 0 0;
}





*, :before, :after {
    box-sizing: border-box;
    /* border-style: solid; */
    /* border-width: 0; */
}

</style>