

            
            <div class="wrapper">     
              <div class="newsTop_wrapper">
                <div class="newsTop">
                  <div class="newsTop_info">
                    <div class="newsTop_category">
                       LEATHER      </div>
                    <time class="newsTop_date">
                          </time>
                  </div>
                  <h1 class="newsTop_title">
                    取扱いの革について   </h1>
                  <div class="newsTop_share">
                    <div class="newsTop_shareTitle"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="18px"
                      height="18px"><path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"/></svg><a class="sns" href="https://www.instagram.com/pirca.mabui/" target="blank">&thinsp;Instagram</a>
                    </div>
               
                  </div>
                </div>
                <div class="newsVisual">
                  <img src="/fleeee-min.webp"> <br><center><span style="color: #999999;">画像引用:https://virgilioconceriaartigiana.it</span>  </center>
                </div>
              </div>
              
              
              <div class="newsEditor">
                <h1 class="ttl_1"><span class="line">スクラッチ加工が特徴の革</span></h1>
            
              <p>&nbsp;</p>
              <p><img src="/longwallet1-min.webp" alt="" width="720" height="480" class="alignnone size-full wp-image-20003"></p>
              <p>表層に付けられたスクラッチ（&thinsp;引っ掻き&thinsp;）模様が独特な風合いのイタリアンレザー。<br class="sp"><br class="sp">他の革に比べて傷が目立ちにくく、ブラッシングと乾拭きのみで手間が少ないのも特徴です。<br class="sp"><br class="sp"><br class="pc"><br class="pc">また、和紙のような手触りから、経年変化により見違えるほどの艶と色濃さを出してくれます。<br class="sp"><br class="sp">オイルがしっかり入った革なので、使い込むほどに味わい深い色に変化し、自然な艶が出てきます。経年変化（&thinsp;エイジング&thinsp;）を愉しんでいただける革です。
              </p>
              <p>&nbsp;</p>

              <p><img src="/kenne.webp" alt="" width="720" height="480" class="alignnone size-full wp-image-20003"></p>
              <p><span class="stripe-marker">実際のエイジングサンプルと新品の比較です。</span><br class="sp"><br class="pc">写真左&thinsp;:&thinsp;約1年半ほど使用 【&thinsp;革色グレー&thinsp;】&thinsp;<br class="sp">写真右&thinsp;:&thinsp;新品のキーケース【&thinsp;革色グレー&thinsp;】</p>
              <p>&nbsp;</p>
              <p><img src="/sanmpee.webp" alt="" width="720" height="480" class="alignnone size-full wp-image-20003"></p>
              <p><span class="stripe-marker">実際のエイジングサンプルと新品の比較です。</span><br class="sp"><br class="pc">写真左&thinsp;:&thinsp;約3年ほど使用 【&thinsp;革色ブラウン&thinsp;】&thinsp;<br class="sp">写真右&thinsp;:&thinsp;【&thinsp;革色ブラウン&thinsp;】<br class="sp"><br class="pc"><br class="sp"><br class="pc">全体的に表面のスクラッチが落ち着き、自然な艶ががかった色合いに変化しています。</p>
              
              <h1 class="ttl_1"><span class="line">霞がかったような白いワックス</span></h1>
              <p>&nbsp;</p>

              <p><img src="/samplekawa.webp" alt="" width="720" height="480" class="alignnone size-full wp-image-20003"></p>
              <p>１つ目と同じ特徴に加え、表面のホワイトワックスが使い込むほどに革の内部に浸透していき、ワックス革特有のツヤを帯び、味わい深い色に変化していきます。<br class="sp"><br class="pc"><br class="sp">特徴的なスクラッチ模様はそのままに、ワックスによる滑らかな触り心地が特徴です。<br class="sp"><br class="pc"><br class="pc"><br class="sp"><span class="stripe-marker"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#0f0f0f" viewBox="0 0 256 256"><path d="M230.08,78.26l-31.84,26.88L208,145.33a5.46,5.46,0,0,1-8.19,5.86L164,129.66l-35.78,21.53a5.46,5.46,0,0,1-8.19-5.86l9.73-40.19L97.92,78.26a5.38,5.38,0,0,1,3.13-9.48l41.79-3.31,16.1-38.14a5.51,5.51,0,0,1,10.12,0l16.1,38.14L227,68.78A5.38,5.38,0,0,1,230.08,78.26Z" opacity="0.2"></path><path d="M239.35,70.08a13.41,13.41,0,0,0-11.77-9.28l-36.94-2.92L176.43,24.22a13.51,13.51,0,0,0-24.86,0L137.36,57.88,100.42,60.8a13.39,13.39,0,0,0-7.66,23.58l28.06,23.68-8.56,35.39a13.32,13.32,0,0,0,5.1,13.91,13.51,13.51,0,0,0,15,.69L164,139l31.65,19.06a13.54,13.54,0,0,0,15-.69,13.34,13.34,0,0,0,5.09-13.91l-8.56-35.39,28.06-23.68A13.32,13.32,0,0,0,239.35,70.08ZM193.08,99a8,8,0,0,0-2.61,8l8.28,34.21L168.13,122.8a8,8,0,0,0-8.25,0l-30.62,18.43L137.54,107a8,8,0,0,0-2.62-8L108,76.26l35.52-2.81a8,8,0,0,0,6.74-4.87L164,35.91l13.79,32.67a8,8,0,0,0,6.74,4.87l35.53,2.81Zm-105,24.18L29.66,181.66a8,8,0,0,1-11.32-11.32l58.45-58.45a8,8,0,0,1,11.32,11.32Zm10.81,49.87a8,8,0,0,1,0,11.31L45.66,237.66a8,8,0,0,1-11.32-11.32l53.27-53.26A8,8,0,0,1,98.92,173.08Zm73-1a8,8,0,0,1,0,11.32l-54.28,54.28a8,8,0,0,1-11.32-11.32l54.29-54.28A8,8,0,0,1,171.94,172.06Z"></path></svg>こちらの革は、外装のみ、また一部商品には適応外となります。</span>
              </p>
              
              <p>&nbsp;</p>
                
              <p><img loading="lazy" src="/aefeaaef-min.webp" alt="" width="720" height="480" class="alignnone size-full wp-image-20004"></p>
              <p>&thinsp;ワックスを乗せてからスクラッチ加工を施すことでよりムラ感が際立ち、荒々しくインパクトのある仕上がりとなっています。<br class="sp"><br class="sp"><br class="pc"><br class="pc">こちらの革は、仕入れから製作をするため、すべての色から選択ができます。&thinsp;<br class="sp"><br class="pc"><br class="sp">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#0f0f0f" viewBox="0 0 256 256"><path d="M239.89,198.12l-14.26-120a16,16,0,0,0-16-14.12H176a48,48,0,0,0-96,0H46.33a16,16,0,0,0-16,14.12l-14.26,120A16,16,0,0,0,20,210.6a16.13,16.13,0,0,0,12,5.4H223.92A16.13,16.13,0,0,0,236,210.6,16,16,0,0,0,239.89,198.12ZM128,32a32,32,0,0,1,32,32H96A32,32,0,0,1,128,32ZM32,200,46.33,80H80v24a8,8,0,0,0,16,0V80h64v24a8,8,0,0,0,16,0V80h33.75l14.17,120Z"></path></svg>                PRODUCT・<a href="/productlist" class="animate-link">商品リストをみる<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="#003EA2" viewBox="0 0 256 256"><path d="M132,136v64a12,12,0,0,1-24,0V165L48.49,224.49a12,12,0,0,1-17-17L91,148H56a12,12,0,0,1,0-24h64A12,12,0,0,1,132,136ZM208,28H80A20,20,0,0,0,60,48V92a12,12,0,0,0,24,0V52H204V172H164a12,12,0,0,0,0,24h44a20,20,0,0,0,20-20V48A20,20,0,0,0,208,28Z"></path></svg></a></p>
            
           
            
              </div>
            </div>



    <style>

.stripe-marker {
  background-image: repeating-linear-gradient(-45deg,
    #eee 0, #eee 2px,
    transparent 2px, transparent 4px
  );
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 100% 0.5em;
}

.animate-link {
  text-decoration: none; /* デフォルトの下線を非表示にする */
  color: #003EA2; /* 文字色 */
  background-image: linear-gradient(90deg, #003EA2, #003EA2); /* 線の色 */
  background-repeat: no-repeat;
  background-position: left bottom; /* 線の起点を左・下に設定 */
  background-size: 0 1px; /* 線の横幅を0、縦幅を1pxに */
  transition: background-size 0.6s; /* 線を伸ばすアニメーション実行時間を指定 */
}

.animate-link:hover {
  background-size: 100% 1px; /* 線の横幅を100%にする */
}

.ttl_1 {
    font-family: 'Shippori Mincho', sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.75;
    letter-spacing: .1em;
    margin-top: 80px;
    font-feature-settings: "palt";
    text-align: center;
}

.ttl_1 .line {
    border-bottom: 1px solid;
    padding-bottom: 7px;
}
.c-singlePager {
    position: relative;
    font-size: 20px;
    font-family: 'Shippori Mincho', sans-serif;
    margin: 50px 40px 80px;
    padding: 0 0 10px;
}

.c-singlePager_arrow-prev {
    position: absolute;
    top: 0;
    left: 0;
}

.c-singlePager_arrow-next {
    position: absolute;
    top: 0;
    right: 0;
}


.sp {
    display: none !important;
}

@media screen and (max-width:767px) {
    .pc {
        display: none !important;
    }
    .sp {
        display: block !important;
    }
}




.wrapper{
    margin-bottom: 120px;
}

.newsTop_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
    padding-top: 120px;
    margin: 40px 40px 0;
}
@media print, screen and (max-width: 767px) {
  .ttl_1 {

    font-size: 1.11rem;
  }

  .newsTop_wrapper {
    display: block;
    margin: 0px 20px;
  }
}

.newsTop {
  width: 50%;
  padding: 0 80px;
}
@media print, screen and (max-width: 767px) {
  .newsTop {
    width: auto;
    padding: 0;
  }
}

.newsTop_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Shippori Mincho', sans-serif;
  font-size: 14px;
}
@media print, screen and (max-width: 767px) {
  .newsTop_info {
    font-size: 12px;
  }
}

.newsTop_category {
  margin: 0 20px 0 0;
  font-size: 1rem;
  font-family: 'Shippori Mincho', sans-serif;


}

.newsTop_date {
  color: #838383;
}

.newsTop_title {
  font-size: 24px;
  line-height: 1.5;
  margin: 10px 0 0;
}
@media print, screen and (min-width: 768px) and (max-width: 1024px) {
  .newsTop_title {
    font-size: 1.6rem;
  }
}
@media print, screen and (max-width: 767px) {
  .newsTop_title {
    font-size: 1.6rem;
  }
}

.newsTop_share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 60px 0 0;
}

.newsTop_shareTitle {
    font-family: 'Shippori Mincho', sans-serif;
  margin: 0 20px 0 0;
}



.newsTop_shareList_node {
  margin: 0 5px;
}

.newsVisual {
  width: 50%;
}
.newsVisual img {
  width: 100%;
}


.newsEditor {
  width: 720px;
    margin: 120px auto 0;
}
.newsEditor p {
  line-height: 2;
  font-size: 0.9575rem;
  font-family: 'Shippori Mincho', sans-serif;

}
.newsEditor a {
  color: #003EA2;
}
.newsEditor hr {
  display: block;
  border-bottom: solid 1px #010101;
}
.newsEditor iframe {
  max-width: 100%;
}
.newsEditor img {
  max-width: 100%;
  height: auto;
}
.newsEditor img.aligncenter {
  display: block;
  margin: 0 auto;
}
.newsEditor > p:not([class]) {
  margin-bottom: 20px;
}
.newsEditor .googleMap {
  padding-bottom: 54.32%;
}
.newsEditor .googleMap iframe {
  width: 100%;
}
.newsEditor .youtube {
  position: relative;
  width: 100%;
}
.newsEditor .youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}




@media print, screen and (max-width: 767px) {
  .newsTop_share {
    margin: 20px 0 0;
  }
}


@media print, screen and (max-width: 767px) {
  .newsTop_shareTitle {
    margin: 0 10px 0 0;
  }
}


@media print, screen and (max-width: 767px) {
  .newsTop_shareList_node svg {
    width: 23px;
    height: 18px;
  }
}


@media print, screen and (max-width: 767px) {
  .newsVisual {
    width: auto;
    margin: 40px 0 0;
  }
}

@media print, screen and (max-width: 767px) {
  .newsEditor {
    width: auto;
    margin: 60px 20px 0;
    font-size: 0.975rem;

  }

  .newsEditor[data-astro-cid-ekziid7k] p[data-astro-cid-ekziid7k]{
    font-size: 0.975rem;
    font-family: "Shippori Mincho B1",serif;
    line-height: 2.3076923077;
    letter-spacing: .05em;

  }
}




p{
  font-family: "Shippori Mincho B1",serif;
    line-height: 2.3076923077;
    margin-top: 3.125rem;
    transition: .6s 1s;
    font-size: 0.9575rem;
    letter-spacing: .05em;
}




.sns:hover{
    text-decoration:underline;

}



* {
    padding: 0;
    margin: 0;
}


*,:before,:after {
    box-sizing: border-box;
    border-style: solid;
    border-width: 0
}
html {
          line-height: 1.15;
          -webkit-text-size-adjust: 100%;
          -webkit-tap-highlight-color: transparent
      }
      
      body {
          margin: 0;
          color: #333;
          -moz-osx-font-smoothing: grayscale;
       -webkit-font-smoothing: antialiased;
       text-rendering: optimizeLegibility;
       font-family: 'Shippori Mincho', sans-serif;

      }
      

main {
    display: block
}

p,table,blockquote,address,pre,iframe,form,figure,dl {
    margin: 0
}

h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    font-weight: inherit;
    margin: 0
}




hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    border-top-width: 1px;
    margin: 0;
    clear: both;
    color: inherit
}


a {
    background-color: transparent;
    text-decoration: none;
    color: inherit
}






      </style>