

            
            <div class="wrapper">     
              <div class="newsTop_wrapper">
                <div class="newsTop">
                  <div class="newsTop_info">
                    <div class="newsTop_category">
                       LEATHER      </div>
                    <time class="newsTop_date">
                          </time>
                  </div>
                  <h1 class="newsTop_title">
                    取扱いの革について   </h1>
                  <div class="newsTop_share">
                    <div class="newsTop_shareTitle"><a class="sns" href="https://www.instagram.com/pirca.mabui/" target="blank">Instagram</a><iconify-icon icon="fa6-brands:instagram"></iconify-icon>

                    </div>
               
                  </div>
                </div>
                <div class="newsVisual">
                  <img src="/fleeee-min.png">
                </div>
              </div>
              
              
              <div class="newsEditor">
                <p>Pirca Mabuiでは、主に2種類の表面のスクラッチ加工が特徴のショルダー革を取り扱っています。</p>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <p><img src="/longwallet1-min.jpg" alt="" width="720" height="480" class="alignnone size-full wp-image-20003"></p>
              <p><iconify-icon icon="fluent:number-circle-1-48-filled" style="color: #434343;"></iconify-icon>表層に付けられたスクラッチ（引っ掻き）模様が独特な風合いのイタリアンレザー。他の革に比べて傷が目立ちにくく、メンテナンス(ブラッシングと乾拭きのみで十分です。)の手間が少ないのも特徴です。<br class="sp"><br class="sp"><br class="pc"><br class="pc">また、和紙のような手触りから、経年変化により見違えるほどの艶と色濃さを出してくれます。オイルがしっかり入った革なので、使い込むほどに味わい深い色に変化し、自然な艶が出てきます。経年変化（エイジング）を愉しんでいただける革です。
              </p>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <p><img loading="lazy" src="/sampleleather-min.jpg" alt="" width="720" height="480" class="alignnone size-full wp-image-20004"></p>
              <p> <iconify-icon icon="fluent:number-circle-2-48-filled" style="color: #434343;"></iconify-icon>１つ目と同じ特徴に加え、表面のホワイトワックスが使い込むほどに革の内部に浸透していき、ワックス革特有のツヤを帯び、味わい深い色に変化していきます。<br class="sp">(仕入れから製作をするため、すべての色から選択ができます。）<br class="pc"><br class="pc"><br class="sp"><br class="sp"><iconify-icon icon="bx:down-arrow"></iconify-icon>&thinsp;次の画像をご覧ください。</p>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <p><img loading="lazy" src="/aefeaaef-min.jpg" alt="" width="720" height="480" class="alignnone size-full wp-image-20004"></p>
              <p>ワックスを乗せてからスクラッチ加工を施すことでよりムラ感が際立ち、荒々しくインパクトのある仕上がりとなっています。<br class="sp"><br class="sp"><br class="pc"><br class="pc"><iconify-icon icon="fluent-mdl2:shop"></iconify-icon>
                PRODUCT・<a href="/product">商品リストをみる</a></p>
            
              </div>
            </div>



    <style>
.c-singlePager {
    position: relative;
    font-size: 20px;
    font-family: 'Shippori Mincho', sans-serif;
    margin: 50px 40px 80px;
    padding: 0 0 10px;
}

.c-singlePager_arrow-prev {
    position: absolute;
    top: 0;
    left: 0;
}

.c-singlePager_arrow-next {
    position: absolute;
    top: 0;
    right: 0;
}


.sp {
    display: none !important;
}

@media screen and (max-width:767px) {
    .pc {
        display: none !important;
    }
    .sp {
        display: block !important;
    }
}




.wrapper{
    margin-bottom: 120px;
}

.newsTop_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
    padding-top: 120px;
    margin: 0px 20px;

}
@media print, screen and (max-width: 767px) {
  .newsTop_wrapper {
    display: block;
    margin: 0px 20px;
  }
}

.newsTop {
  width: 50%;
  padding: 0 80px;
}
@media print, screen and (max-width: 767px) {
  .newsTop {
    width: auto;
    padding: 0;
  }
}

.newsTop_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Shippori Mincho', sans-serif;
  font-size: 14px;
}
@media print, screen and (max-width: 767px) {
  .newsTop_info {
    font-size: 12px;
  }
}

.newsTop_category {
  margin: 0 20px 0 0;
}

.newsTop_date {
  color: #838383;
}

.newsTop_title {
  font-size: 24px;
  line-height: 1.5;
  margin: 10px 0 0;
}
@media print, screen and (min-width: 768px) and (max-width: 1024px) {
  .newsTop_title {
    font-size: 20px;
  }
}
@media print, screen and (max-width: 767px) {
  .newsTop_title {
    font-size: 18px;
  }
}

.newsTop_share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 60px 0 0;
}
@media print, screen and (max-width: 767px) {
  .newsTop_share {
    margin: 20px 0 0;
  }
}

.newsTop_shareTitle {
    font-family: 'Shippori Mincho', sans-serif;
  margin: 0 20px 0 0;
}
@media print, screen and (max-width: 767px) {
  .newsTop_shareTitle {
    margin: 0 10px 0 0;
  }
}

.newsTop_shareList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.newsTop_shareList_node {
  margin: 0 5px;
}
.newsTop_shareList_node svg {
  width: 30px;
  height: 24px;
}
@media print, screen and (max-width: 767px) {
  .newsTop_shareList_node svg {
    width: 23px;
    height: 18px;
  }
}

.newsVisual {
  width: 50%;
}
.newsVisual img {
  width: 100%;
}
@media print, screen and (max-width: 767px) {
  .newsVisual {
    width: auto;
    margin: 40px 0 0;
  }
}

.newsEditor {
  width: 720px;
  margin: 120px auto 0;
}
.newsEditor p {
  line-height: 2;
}
.newsEditor a {
  color: #003EA2;
  text-decoration: underline;
}
.newsEditor hr {
  display: block;
  border-bottom: solid 1px #010101;
}
.newsEditor iframe {
  max-width: 100%;
}
.newsEditor img {
  max-width: 100%;
  height: auto;
}
.newsEditor img.aligncenter {
  display: block;
  margin: 0 auto;
}
.newsEditor > p:not([class]) {
  margin-bottom: 20px;
}
.newsEditor .googleMap {
  padding-bottom: 54.32%;
}
.newsEditor .googleMap iframe {
  width: 100%;
}
.newsEditor .youtube {
  position: relative;
  width: 100%;
}
.newsEditor .youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media print, screen and (max-width: 767px) {
  .newsEditor {
    width: auto;
    margin: 60px 20px 0;
  }
}

.newsOther {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 40px;
}
@media print, screen and (max-width: 767px) {
  .newsOther {
    display: block;
    margin: 0 20px;
  }
}

.newsOther_title {
  font-family: "neue-haas-grotesk-display", MyYuGothicM, "游ゴシック", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  font-size: 40px;
  line-height: 1.3;
  width: 33.3333%;
  width: 33.3333333333%;
  margin: 0 40px 0 0;
}
@media print, screen and (min-width: 768px) and (max-width: 1024px) {
  .newsOther_title {
    font-size: 30px;
  }
}
@media print, screen and (max-width: 767px) {
  .newsOther_title {
    font-size: 24px;
    width: auto;
    margin: 0 0 40px;
  }
}




p{
    font-family: "Shippori Mincho B1",serif;
    line-height: 2.3076923077;
    margin-top: 3.125rem;
    transition: .6s 1s;
    font-size: 0.9rem;
    letter-spacing: .05em;
}




.sns:hover{
    text-decoration:underline;

}



















* {
    padding: 0;
    margin: 0;
}






*,:before,:after {
    box-sizing: border-box;
    border-style: solid;
    border-width: 0
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}

body {
    margin: 0
}

main {
    display: block
}

p,table,blockquote,address,pre,iframe,form,figure,dl {
    margin: 0
}

h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    font-weight: inherit;
    margin: 0
}




hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    border-top-width: 1px;
    margin: 0;
    clear: both;
    color: inherit
}


a {
    background-color: transparent;
    text-decoration: none;
    color: inherit
}






      </style>