
<div class="top-vis-area posi-r">
    <div class="top-visual bg-style">
    <section id="banner">
    <div class="inner">
    
    <h1>Pirca Mabui</h1>
    <p>Leather craft goods<br>
    Official <a href="#down" class="more scrolly"></a>
  
    

    </section>
    </div>
</div>



    <nav class="sticky">
      <div class="nav-content">
        <div class="logo">
          <a href="/"></a>
        </div>
        <ul class="nav-links">
          <li><a href="/">ホーム</a></li>
          <li><a href="/kodawari">こだわり</a></li>
          <li><a href="/productlist">商品</a></li>
          <li><a href="/homeEn">EN</a></li>
        </ul>
      </div>
    </nav>
    
  
  
<section id="down"  class="introduction astro-HR23OLMI">
    <div  class="introduction__container astro-HR23OLMI">
      <div class="introduction__content astro-HR23OLMI is-inview" data-scroll="">
        <h2  class="introduction__heading astro-HR23OLMI">当店について</h2>
        <p class="introduction__text astro-HR23OLMI">ピㇼカマブイは、北海道にある小さな工房で主に受注生産にてオーダーを承っており、断裁から総手縫い、仕上げに至るまで、全ての工程を一人の職人が行なっています。
<br class="pc"><br class="sp"><br class="pc"><br class="sp">革のパーツを色別で選択ができるため、唯一無二の「とくべつな色」に仕上がります。シンプルなデザインに、時間の概念をブレンドした革製品をお届けします。
  
  </p>
      </div>
      <figure class="introduction__map astro-HR23OLMI">
        <img src="/hhuuke.webp" alt="革のメーカー" class="astro-HR23OLMI">
        <br><center><span style="color: #999999;"></span>  </center>
      </figure>
    </div>
  </section>

<section class="aboutService">
<ul class="c-bannerList">
  <li class="c-bannerList_node">
    <a href="/productlist">
      <div class="c-bannerList_img">
        <img src="/afheaufhhf.webp" alt="当店の商品画像" >
      </div>
<h3 class="c-bannerList_title">COLLECTIONS</h3>
      <p class="c-bannerList_text">鞄製品に加え、小物財布、キーケースなど積極的に取り扱っております。</p>
    </a>
  </li>
  <li class="c-bannerList_node">
    <a href="/patternorder">
      <div class="c-bannerList_img">
        <img src="/samale-min.webp" alt="パターンオーダーの画像">
      </div>
      <h3 class="c-bannerList_title">PATTERN ORDER</h3>
      <p class="c-bannerList_text">パーツごとにお好みの革の色組み合わせ、金具などをお選びいただいて製作するセミオーダーを承っております。</p>
    </a>
  </li>
  <li class="c-bannerList_node">
    <a href="/kodawari">
      <div class="c-bannerList_img">
        <img src="/leatherhosii-min.webp" alt="当店の画像について" >
      </div>
      <h3 class="c-bannerList_title">ABOUT SHOP</h3>
      <p class="c-bannerList_text">当店の厳選した上質な素材、こだわりについて紹介しています。<br><center><span style="color: #999999;">画像引用:https://virgilioconceriaartigiana.it</span> </center></p>
    </a>
  </li>
</ul>
</section>


<section class="topNews">
<h2 class="topNews_title">NEWS</h2>
<ul class="topNews_list c-newsList">
      <li class="topNews_list_node c-newsList_node">
    <a href="">
      <div class="topNews_list_columnLeft c-newsList_columnLeft">
        <div class="topNews_list_info c-newsList_info">
          <div class="topNews_list_category c-newsList_category">
            TOPIC            </div>
          <time class="topNews_list_date c-newsList_date">
                     </time>
        </div>
        <h3 class="topNews_list_title c-newsList_title">
          サイトのリニューアル          </h3>
      </div>
      <div class="topNews_list_img c-newsList_img">
        <img src="/webee-minn.webp">
      </div>  
    </a>
  </li>

  <li class="topNews_list_node c-newsList_node">
    <a href="https://sdome-event.jp/smv/index.php">
      <div class="topNews_list_columnLeft c-newsList_columnLeft">
        <div class="topNews_list_info c-newsList_info">
          <div class="topNews_list_category c-newsList_category">
            TOPIC            </div>
          <time class="topNews_list_date c-newsList_date">
                     </time>
        </div>
        <h3 class="topNews_list_title c-newsList_title">
          2024・札幌モノビレッジ出店（&thinsp;当選&thinsp;） 6月15,16日        </h3>
      </div>
      <div class="topNews_list_img c-newsList_img">
        <img src="/ot313_2.webp">
      </div>  
    </a>
  </li>
      <li class="topNews_list_node c-newsList_node">
    <a href="/web">
      <div class="topNews_list_columnLeft c-newsList_columnLeft">
        <div class="topNews_list_info c-newsList_info">
          <div class="topNews_list_category c-newsList_category">
            OFFER          </div>
          <time class="topNews_list_date c-newsList_date">
                        </time>
        </div>
        
        <h3 class="topNews_list_title c-newsList_title">
          WEB制作のご依頼         </h3>
      </div>
      <div class="topNews_list_img c-newsList_img">
        <img src="/webjobb.webp">
      </div>  
    </a>
  </li>

 
    </ul>

</section>



  <style>


    /* .topNews
    -----------------------------------------------------------------*/
    .topNews {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;
        margin: 120px 40px 0;
        margin-bottom: 80px;
      }
      @media print, screen and (max-width: 767px) {
        .topNews {
          display: block;
          margin: 80px 20px 0;
        }
      }
      
      .topNews_title {
        font-family: "Shippori Mincho",sans-serif;
          font-size: 2rem;
          line-height: 1.7;
          transition: 2s cubic-bezier(.16,1,.3,1);
          font-style: italic;
        width: 33.3333%;
        width: 33.3333333333%;
        text-align:center;
        padding-top: 20px;
      }
      @media print, screen and (min-width: 768px) and (max-width: 1024px) {
        .topNews_title {
          font-size: 50px;
        }
      }
      @media print, screen and (max-width: 767px) {
        .topNews_title {
          font-size: 30px;
          width: auto;
        }
      }
      
      
      




      
      /* .c-newsList
      -----------------------------------------------------------------*/
      .c-newsList {
        width: 66.6666%;
        width: 66.6666666667%;
        border-top: 1px solid #BEBEBE;
      }
      @media print, screen and (max-width: 767px) {
        .c-newsList {
          width: 100%;
          padding-left: 0;
        }
      }
      
      .c-newsList_node {
        position: relative;
        border-bottom: 1px solid #BEBEBE;
      }
      .c-newsList_node a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        z-index: 10;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 40px 0;
      }
      @media print, screen and (max-width: 767px) {
        .c-newsList_node a {
          padding: 20px 0;
          -webkit-box-align: start;
          -ms-flex-align: start;
          align-items: flex-start;
        }
      }
      
      .c-newsList_columnLeft {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 82%;
        padding: 0 10% 0 0;
      }
      @media print, screen and (max-width: 767px) {
        .c-newsList_columnLeft {
          display: block;
          width: 60%;
          padding: 0 4% 0 0;
        }
      }
      
      .c-newsList_info {
        position: relative;
        width: 22%;
        padding: 0 2% 0 0;
      }
      @media print, screen and (max-width: 767px) {
        .c-newsList_info {
          width: auto;
          padding: 0;
        }
      }
      
      .c-newsList_category {
        font-family: "Shippori Mincho",sans-serif;
        font-size: 1rem;
        margin: 0 0 10px;
      }
      @media print, screen and (min-width: 768px) and (max-width: 1024px) {
        .c-newsList_category {
          font-size: 0.9rem;
        }
      }
      @media print, screen and (max-width: 767px) {
        .c-newsList_category {
          display: inline-block;
          font-size: 0.94rem;
          margin: 0 15px 0 0;
        }
      }
      
      .c-newsList_date {
        font-size: 14px;
        color: #838383;
      }
      @media print, screen and (min-width: 768px) and (max-width: 1024px) {
        .c-newsList_date {
          font-size: 12px;
        }
      }
      @media print, screen and (max-width: 767px) {
        .c-newsList_date {
          display: inline-block;
          font-size: 1rem;
        }
      }
      
      .c-newsList_title {
        position: relative;
        line-height: 1.5;
        width: 78%;
        word-break: break-all;
        font-size: 0.94rem;
        font-family: "Shippori Mincho",sans-serif;
      
      }
      @media print, screen and (max-width: 767px) {
        .c-newsList_title {
          width: auto;
          margin: 10px 0 0;
          font-size: 0.96rem;
          font-family: "Shippori Mincho",sans-serif;
      
        }
      }
      
      .c-newsList_img {
        position: relative;
        width: 18%;
        padding: 0 0 14%;
        overflow: hidden;
      }
      .c-newsList_img img {
        position: absolute;
        top: 0;
        left: 0;
        -o-object-fit: cover;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
      @media print, screen and (max-width: 767px) {
        .c-newsList_img {
          width: 40%;
          padding: 0 0 31%;
        }
      }
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      .aboutTitle {
        margin-bottom: 0;
      }
      
      .aboutContent {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 40px;
      }
      @media print, screen and (max-width: 767px) {
        .aboutContent {
          display: block;
          margin: 40px 20px 60px;
        }
      }
      
      .aboutLeftBlock {
        width: 50%;
      }
      @media print, screen and (max-width: 767px) {
        .aboutLeftBlock {
          width: auto;
        }
      }
      
      .aboutLogo svg {
        width: 300px;
        height: 30px;
      }
      @media print, screen and (max-width: 767px) {
        .aboutLogo svg {
          width: 200px;
          height: 20px;
        }
      }
      
      .aboutText {
        line-height: 2;
        margin: 40px 40px 0 0;
      }
      @media print, screen and (max-width: 767px) {
        .aboutText {
          margin: 20px 0 40px;
        }
      }
      
      .aboutImg {
        border-left: 1px solid #010101;
        width: 50%;
        padding: 40px 40px 40px 80px;
      }
      .aboutImg img {
        width: 100%;
      }
      @media print, screen and (min-width: 768px) and (max-width: 1024px) {
        .aboutImg {
          padding: 20px 20px 20px 40px;
        }
      }
      @media print, screen and (max-width: 767px) {
        .aboutImg {
          border: none;
          width: auto;
          padding: 0;
        }
      }
      
      .aboutService {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 0px 0 0;
        margin: 0 40px;
        padding-bottom: 40px;
      }


      @media print, screen and (max-width: 767px) {
        .aboutService {
          display: block;
          padding: 0px 0 0;
          margin: 0 20px;
        }
      }
      
      .aboutService_title {
        font-family: "Shippori Mincho",sans-serif;
          font-size: 2rem;
          line-height: 1.7;
          transition: 2s cubic-bezier(.16,1,.3,1);
          font-style: italic;
        width: 33.3333%;
        width: 33.3333333333%;
        text-align:center;
        padding-top: 20px;
      }
  
      @media print, screen and (max-width: 767px) {
        .aboutService_title {
          font-size: 1.75rem;
          width: auto;
          margin: 0 0 20px;
      
        }
      }
      
      .aboutService_text {
        line-height: 2;
        width: 66.6666%;
        width: 66.6666666667%;
        font-family: "Shippori Mincho B1",serif;
          margin-top: 2rem;
          transition: .6s 1s;
          font-size: 0.94rem;
          letter-spacing: .05em;
      }

      @media print, screen and (max-width: 767px) {
        .aboutService_text {
          width: auto;
          font-size: 0.96rem;
          margin: 20px 0 60px;
      
        }
      }
      
      
      
      /* .c-bannerList
      -----------------------------------------------------------------*/
      .c-bannerList {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 80px 0 0;
        width: 100%;
      }
  
      
      .c-bannerList_node {
        width: calc((100% - 80px) / 3);
        margin: 60px 40px 0 0;
      }
      .c-bannerList_node:nth-of-type(3n) {
        margin-right: 0;
      }
      .c-bannerList_node:nth-of-type(1), .c-bannerList_node:nth-of-type(2), .c-bannerList_node:nth-of-type(3) {
        margin-top: 0;
        
      }


      @media print, screen and (max-width: 767px) {
        .c-bannerList_node {
          width: auto;
          margin: 0 0 40px;
          padding-top: 30px ;

        }
        .c-bannerList_node:last-child {
          margin: 0;
          padding-top: 50px ;
        }

        .c-bannerList {
          display: block;
          margin: 60px 0 0;
          padding-left: 0;
        }

        .c-bannerList_title {
          font-size: 1.5rem;
          font-family: "Shippori Mincho",sans-serif;  
          text-align: center;
      
        }

        .c-bannerList_text {
   
        font-size:.96rem;
      
      }
      }


      
      .c-bannerList_img {
        position: relative;
        padding: 0 0 100%;
        overflow: hidden;
      }
      .c-bannerList_img img {
        position: absolute;
        top: 0;
        left: 0;
        -o-object-fit: cover;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
      
      .c-bannerList_title {
        font-family: "Shippori Mincho",sans-serif;
        font-size: 1.6rem;
        line-height: 1.5;
        margin: 20px 0 0px;
      }
 
  
      
      .c-bannerList_text {
        line-height: 2;
        margin: 20px 0 0px;
        font-size: 0.94rem;
        font-family: "Shippori Mincho",sans-serif;
      
      }
      
      












      
      /* hover animation
      -----------------------------------------------------------------*/
      .topVisual_list_img img,
      .topOnline_list_node img,
      .topIbaraki_list_node img,
      .maintenanceList_node img,
      .patternList_node img,
      .c-ibaraki_list_node img,
      .c-newsList_node img,
      .c-bannerList_node img,
      .c-largeBanner img {
        -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.25, 0.74, 0.22, 0.99);
        transition: -webkit-transform 0.6s cubic-bezier(0.25, 0.74, 0.22, 0.99);
        transition: transform 0.6s cubic-bezier(0.25, 0.74, 0.22, 0.99);
        transition: transform 0.6s cubic-bezier(0.25, 0.74, 0.22, 0.99), -webkit-transform 0.6s cubic-bezier(0.25, 0.74, 0.22, 0.99);
      }
      @media print, screen and (min-width: 1025px) {
        .topVisual_list_img:hover img,
      .topOnline_list_node:hover img,
      .topIbaraki_list_node:hover img,
      .maintenanceList_node:hover img,
      .patternList_node:hover img,
      .c-ibaraki_list_node:hover img,
      .c-newsList_node:hover img,
      .c-bannerList_node:hover img,
      .c-largeBanner:hover img {
          -webkit-transform: scale(1.08);
          transform: scale(1.08);
        }
      }
      




      /*hero */
      
      
      .top-ttl-box {
          opacity: 0;
          display: block;
          position: absolute;
          top: 19.75309%;
          right: 50px;
          text-align: center;
          width: 120px;
      }
      div {
          margin: 0;
          padding: 0;
          border: 0;
          font: inherit;
          font-size: 100%;
          vertical-align: baseline;
      }
      
      .top-visual {
          background-image: linear-gradient(rgba(0, 0, 0, .6),  rgba(0, 0, 0, .5)),url(/mainpic-min.webp);
          height: 100vh;
          top: 0;
          right: 0;
          -webkit-animation-name: zoomOutAnime;
          animation-name: zoomOutAnime;
          -webkit-animation-duration: 3s;
          animation-duration: 3s;
          -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
          -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
      }
      
      .bg-style {
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
      }
      


      
            /*clear*/
@media print, screen and (max-width: 767px) {    
    .contact-link {
          -webkit-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
      }
      
      .fs-24-pc {
          font-size: 2.4rem;
      }
      .fs-20 {
          font-size: 2rem;
      }
      .font-serif {
          font-family: "ryo-text-plusn",serif;
      }
      .co-white {
          color: #fff;
      }
      
      .contact-link .contact-hv {
          -webkit-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s;
      }
      
      .top-visual::before {
          content: '';
          display: block;
          position: absolute;
          width: 100%;
          height: 100vh;
          background: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(0,0,0,0)), to(rgba(0,0,0,0.6)));
          background: -webkit-linear-gradient(left, rgba(0,0,0,0) 50%, rgba(0,0,0,0.6));
          background: -o-linear-gradient(left, rgba(0,0,0,0) 50%, rgba(0,0,0,0.6));
          background: linear-gradient(to right, rgba(0,0,0,0) 50%, rgba(0,0,0,0.6));
          top: 0;
          right: 0;
      }
      
      .top-ttl-box {
          top: 18.47291%;
          right: 20px;
      }
      .top-ttl {
          line-height: 2;
      }
      
      
      
      .fs-24-pc {
          font-size:  0.8rem;
      }
      .fs-20 {
          font-size: 0.8rem;
      }
      .font-serif {
          font-family: "ryo-text-plusn",serif;
      }
      .co-white {
          color: #fff;
      }
      
      }
      
   
      
      .top-ttl {
          -webkit-writing-mode: vertical-rl;
          -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
          letter-spacing: 0.6em;
          line-height: 2.5;
          text-align: left;
      }
      
      .fs-24-pc {
          font-size: 1rem;
      }
      .fs-20 {
          font-size: 2.8rem;
      }
      .font-serif {
          font-family: "ryo-text-plusn",serif;
      }
      .co-white {
          color: #fff;
      }
      
      
      
      
      
      
      *{
          scroll-behavior: smooth;
      
      }
      
      
      
      #banner h1 {
          -moz-transform: scale(1);
          -webkit-transform: scale(1);
          -ms-transform: scale(1);
          transform: scale(1);
          -moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
          -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
          -ms-transition: -ms-transform 0.5s ease, opacity 0.5s ease;
          transition: transform 0.5s ease, opacity 0.5s ease;
          display: inline-block;
          font-size: 3rem;
          opacity: 1;
          padding: 0.35em 1em;
          position: relative;
          z-index: 1;
          font-family: 'Shippori Mincho', sans-serif;
      
          
      }
      #banner{
          line-height: 1.75em;
      }
      #banner{
          color: #fff;
          font-weight: 800;
          letter-spacing: 0.225em;
          line-height: 1em;
          margin: 0 0 1em 0;
          text-transform: uppercase;
      }
      #banner{
          margin: 0;
          padding: 0;
          border: 0;
          font-size: 100%;
          font: inherit;
          vertical-align: baseline;
      }
      
      
      #banner {
          display: -moz-flex;
          display: -webkit-flex;
          display: -ms-flex;
          display: flex;
          -moz-flex-direction: column;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          -moz-justify-content: center;
          -webkit-justify-content: center;
          -ms-justify-content: center;
          justify-content: center;
          cursor: default;
          height: 100vh;
          min-height: 35em;
          overflow: hidden;
          position: relative;
          text-align: center;
      }
      
      #banner {
          color: #fff;
          font-family: "Open Sans", Helvetica, sans-serif;
          font-weight: 400;
          letter-spacing: 0.075em;
          line-height: 1.65em;
      }
      
      #banner h1:before {
          top: 0;
          left: 0;
      }
      
      /*線*/
      #banner h1:before, #banner h1:after {
          -moz-transition: width 0.85s ease;
          -webkit-transition: width 0.85s ease;
          -ms-transition: width 0.85s ease;
          transition: width 0.85s ease;
          -moz-transition-delay: 0.25s;
          -webkit-transition-delay: 0.25s;
          -ms-transition-delay: 0.25s;
          transition-delay: 0.25s;
          background: #fff;
          content: '';
          display: block;
          height: 2px;
          position: absolute;
          width: 100%;
      }
      
      #banner h1:after {
          bottom: 0;
          right: 0;
      }
      
      
      
      
      #banner p{
        font-size: 1.2rem;
        font-family: 'Shippori Mincho', sans-serif;
      
      }
      
      
      #banner .more {
          -moz-transition: -moz-transform 0.75s ease, opacity 0.75s ease;
          -webkit-transition: -webkit-transform 0.75s ease, opacity 0.75s ease;
          -ms-transition: -ms-transform 0.75s ease, opacity 0.75s ease;
          transition: transform 0.75s ease, opacity 0.75s ease;
          -moz-transition-delay: 3.5s;
          -webkit-transition-delay: 3.5s;
          -ms-transition-delay: 3.5s;
          transition-delay: 3.5s;
          -moz-transform: translateY(0);
          -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
          transform: translateY(0);
          border: none;
          bottom: 0;
          color: inherit;
          font-size: 0.8em;
          height: 8.5em;
          left: 50%;
          letter-spacing: 0.225em;
          margin-left: -8.5em;
          opacity: 1;
          outline: 0;
          padding-left: 0.225em;
          position: absolute;
          text-align: center;
          text-transform: uppercase;
          width: 16em;
          z-index: 1;
              margin-bottom: 100px;
      
       font-family: 'Lora', serif;
      }
      
      #banner {
          margin: 0;
          padding: 0;
          border: 0;
          font-size: 100%;
          font: inherit;
          vertical-align: baseline;
          
      }
      *, *:before, *:after {
          box-sizing: inherit;
      }
      
      #banner {
          display: -moz-flex;
          display: -webkit-flex;
          display: -ms-flex;
          display: flex;
          -moz-flex-direction: column;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          -moz-justify-content: center;
          -webkit-justify-content: center;
          -ms-justify-content: center;
          justify-content: center;
          cursor: default;
          height: 100vh;
          min-height: 35em;
          overflow: hidden;
          position: relative;
          text-align: center;
      }
      
      
      #banner .more:after {
          background-image: url(/arrow.svg);
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          bottom: 4em;
          content: '';
          display: block;
          height: 1.5em;
          left: 50%;
          margin: 0 0 0 -0.75em;
          position: absolute;
          width: 1.5em;
         animation: arrowmove 1s ease-in-out infinite;
      
       
      
      }
      
      @keyframes arrowmove{
            0%{bottom:40%;}
            50%{bottom:35%;}
            100%{bottom:40%;}
       }
      
      
      
      #banner .more{
      animation-name: fadeInAnime;/*1で解説*/
      animation-fill-mode:backwards;/*2で解説*/
      animation-duration:3s;/*3で解説*/
      
      animation-timing-function:ease;/*5で解説*/
      animation-delay: 1.5s;/*6で解説*/
      animation-direction:normal;/*7で解説*/
      }
      
      /*1で解説*/
      @keyframes fadeInAnime{
        0% {
          opacity: 0;
        }
      
        100% {
          opacity: 1;
        }
      }
      
      
      
      
      
      
      #banner p{
      animation-name: fadeInAnime;/*1で解説*/
      animation-fill-mode:backwards;/*2で解説*/
      animation-duration:3s;/*3で解説*/
      
      animation-timing-function:ease;/*5で解説*/
      animation-delay: 0.5s;/*6で解説*/
      animation-direction:normal;/*7で解説*/
      }
      
      /*1で解説*/
      @keyframes fadeInAnime{
        0% {
          opacity: 0;
        }
      
        100% {
          opacity: 1;
        }
      }
      
      
      
      
      
      
      
      
      
      
      
      #banner h1{
      animation-name: fadeInAnime;/*1で解説*/
      animation-fill-mode:backwards;/*2で解説*/
      animation-duration:3s;/*3で解説*/
      
      animation-timing-function:ease;/*5で解説*/
      animation-delay: 0.5s;/*6で解説*/
      animation-direction:normal;/*7で解説*/
      margin-block-end: 1rem;
      
      }
      
   
      
            /*clear*/
      @media print, screen and (max-width: 767px) {
        #banner h1{
              font-size: 2rem;
        }
      
        #banner p{
        font-size: 1.2rem;
        font-family: 'Shippori Mincho', sans-serif;
      
      }

      
    }
      
      
  
  
         
         
  
         
         
         
         
         .sp {
             display: none !important;
         }
         
         @media screen and (max-width:767px) {
             .pc {
                 display: none !important;
             }
             .sp {
                 display: block !important;
             }
         }
         
    
        
      
      
      
    
      
      
      
      
      
        .introduction{
             background-color: var(--color-white);
             margin-bottom: -4px;
             padding-bottom: 4px;
             overflow: hidden;
         }
         
         
         
         .introduction__container{
             display: flex;
             align-items: center;
             width: 100%;
             max-width: 85.375rem;
             margin: 0 auto;
         }
         
         .introduction__content{
             padding: 8.125rem 0 8.125rem 9.5168374817%;
             max-width: 47.364568082%;
         }
         
         
         
         
         .introduction__heading {
          font-family: 'Shippori Mincho', sans-serif;
              font-size: 1.7rem;
             line-height: 1.7;
             transition: 2s cubic-bezier(.16,1,.3,1);
             font-style: italic;
      
         }
         
         
         h1, h2, h3, h4, h5, h6 {
              font-family: 'Shippori Mincho', sans-serif;
      
             font-size: inherit;
             font-weight: inherit;
             margin: 0;
             
         }
         
         
         
         .introduction__text {
              font-family: 'Shippori Mincho B1',serif;
             line-height: 2.3076923077;
             margin-top: 3.125rem;
             transition: .6s 1s;
             font-size: 0.9375rem;
             letter-spacing: .05em;
      
      
         }






         @media print, screen and (max-width: 767px) {

          .introduction__container {
          flex-direction: column; 
          align-items: center;
        }
      


        .introduction__text {
          margin-top: 1.25rem; /* Add space between image and text */
          text-align: left; /* Center text */
          font-size: 0.94rem;
        }

        .introduction__content{
          padding: 2.5rem 0; /* Adjust padding for spacing */
          text-align: center; /* Center text on smaller screens */
        }
      
        .introduction__map{
          display: block;
          margin: 0;
          width: 100%; /* Make the image take up 100% of the width */
        }
      
      
        .introduction__heading {
          font-size: 1.75rem;
          line-height: 1.7;
        }
      
        .introduction__content {
             max-width: 80%;
        }

}




         
      
         p, table, blockquote, address, pre, iframe, form, figure, dl {
             margin: 0;
         }
         
         *, :before, :after {
             box-sizing: border-box;
             border-style: solid;
             border-width: 0;
         }
         
         .introduction__map {
             display: block;
             flex: 1;
             margin-right: -1.25rem;
             padding-left: 2.5rem;
         }
         
         p, table, blockquote, address, pre, iframe, form, figure, dl {
             margin: 0;
         }
         
         
         body {
             -moz-osx-font-smoothing: grayscale;
             -webkit-font-smoothing: antialiased;
             text-rendering: optimizeLegibility;
             height: 100%;
             letter-spacing: .05em;
             font-size: .8125rem;
             line-height: 1.6923076923;
             color: #333;
      
             margin: 0;

         }
         


      
      
      *,:before,:after {
          box-sizing: border-box;
          border-style: solid;
          border-width: 0
      }
      
      html {
          line-height: 1.15;
          -webkit-text-size-adjust: 100%;
          -webkit-tap-highlight-color: transparent
      }
   
      
      main {
          display: block
      }
      
      p,table,blockquote,address,pre,iframe,form,figure,dl {
          margin: 0
      }
      
      h1,h2,h3,h4,h5,h6 {
          font-size: inherit;
          font-weight: inherit;
          margin: 0
      }
      
      
      
    
      a {
          background-color: transparent;
          text-decoration: none;
          color: inherit
          
      }

      

      ul {
  list-style: none;
}

img{
    max-width: 100%;
    height: auto;
}




@media print, screen and (max-width: 767px){
  .introduction__map[data-astro-cid-ivdev4kk]{

    margin-right: 0;
    padding-left: 0;
}

}

.c-singlePager {
          position: relative;
          font-size: 20px;
          font-family: 'Shippori Mincho', sans-serif;
          margin: 50px 40px 80px;
          padding: 0 0 10px;
      }
      
      .c-singlePager_arrow-prev {
          position: absolute;
          top: 0;
          left: 0;
      }
      
      .c-singlePager_arrow-next {
          position: absolute;
          top: 0;
          right: 0;
      }




nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1; /* z-indexで最前面に持ってくる */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    width: 100%;

    font-family: "Shippori Mincho",sans-serif;


  overflow: hidden;
  position: fixed;


  }
 


  nav .nav-content {
    max-width: 1980px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    
     }

  nav .logo a {
    font-weight: 500;
    font-size: 1.05rem;
    color:#3A3226;
    
    text-decoration: none;

  }

  .nav-content .nav-links {
    display: flex;
    padding-right: 20px;
  }


  
  .nav-content .nav-links li {
    list-style: none;
    margin: 0 8px;
  }

  .nav-links li a {
    text-decoration: none;
    color:#3A3226;
    font-size: 0.98rem;
    font-weight: 500;
    padding: 10px 4px;
    transition: all 0.3s ease;
    line-height: 2.6176470588;
      letter-spacing: .084em;
      gap:3.125rem;
      font-family: "Shippori Mincho",sans-serif;

  }

  .nav-links li a:hover {
    color: #0e2431;
    border-bottom:1px solid black;
  }


  @media print, screen and (max-width: 767px) {
    .nav-links li a {
      width: 100%;
      text-align: center;
      font-size: 0.98rem;
      padding: 0px 0px;
    }
    nav[data-astro-cid-3ef6ksr2] .logo[data-astro-cid-3ef6ksr2] a[data-astro-cid-3ef6ksr2]{
      font-size: 0.98rem;
    }
  }


     </style> 

     