<div class="c-singlePager">
    <a href="/hukusa" class="c-singlePager_arrow-prev">
    <span>Back</span>
  </a>
      <a href="/threewallet" class="c-singlePager_arrow-next">
    <span>Next</span>
  </a>
</div>


<style>
   .c-singlePager {
          position: relative;
          font-size: 20px;
          font-family: 'Shippori Mincho', sans-serif;
          margin: 50px 40px 80px;
          padding: 0 0 10px;
      }
      
      .c-singlePager_arrow-prev {
          position: absolute;
          top: 0;
          left: 0;
      }
      
      .c-singlePager_arrow-next {
          position: absolute;
          top: 0;
          right: 0;
      }
      
</style>