<div class="container">
    <div class="slider-container">
        <div class="slider">
            <div class="slides">
                <div id="slides__1" class="slide">
                    <img loading="lazy" src="/smart_order2.webp" class="slide__img" alt="パターン">
            
                </div>
                <div id="slides__2" class="slide">
                    <img loading="lazy" src="/smart_order1.webp" class="slide__img" alt="皮サンプル">
                    
                </div>

                <div id="slides__3" class="slide">
                    <img loading="lazy" src="/smart_order3.webp" class="slide__img" alt="皮サンプル">
                    
                </div>

                <div id="slides__4" class="slide">
                    <img loading="lazy" src="/color1.webp" class="slide__img" alt="皮サンプル">
                 
                </div>
                <div id="slides__5" class="slide">
                    <img loading="lazy" src="/color2.webp" class="slide__img" alt=皮サンプル２"">
                  
                </div>

                <div id="slides__6" class="slide">
                    <img loading="lazy" src="/whitewaxx.webp" class="slide__img" alt="ホワイトワックス">

                </div>

                <div id="slides__7" class="slide">
                    <img loading="lazy" src="/fasner-min.webp" class="slide__img" alt="ファスナー色">

                </div>

                <div id="slides__8" class="slide">
                    <img loading="lazy" src="/thred.webp" class="slide__img" alt="糸">

                </div>

                <div id="slides__9" class="slide">
                    <img loading="lazy" src="/kokumark.webp" class="slide__img" alt="刻印参考">

                 
                </div>
                <div id="slides__10" class="slide">
                    <img loading="lazy" src="/kokuinn.webp" class="slide__img" alt="刻印参考">

                 
                </div>

                <div id="slides__11" class="slide">
                    <img loading="lazy" src="/stamp.webp" class="slide__img" alt="刻印例">

                 
                </div>

                <div id="slides__12" class="slide">
                    <img loading="lazy" src="/fasnerre.webp" class="slide__img" alt="金具色">

                 
                </div>

            </div>
            <div class="slider__nav">
                <a class="slider__navlink" href="#slides__1"></a>
                <a class="slider__navlink" href="#slides__2"></a>
                <a class="slider__navlink" href="#slides__3"></a>
                <a class="slider__navlink" href="#slides__4"></a>
            </div>
        </div>
    </div>
    <div class="description-container">
      
        <p class="bun">
            革のパーツ・糸の色・金具のひとつひとつなど、細部にまでこだわれるのが、セミオーダーの醍醐味です。<br class="sp"><br class="sp">お客様の好みにあった組み合わせをぜひ見つけてください。<a href="/semi_order" class="animate-link" >詳細はこちらから<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="#003EA2" viewBox="0 0 256 256"><path d="M132,136v64a12,12,0,0,1-24,0V165L48.49,224.49a12,12,0,0,1-17-17L91,148H56a12,12,0,0,1,0-24h64A12,12,0,0,1,132,136ZM208,28H80A20,20,0,0,0,60,48V92a12,12,0,0,0,24,0V52H204V172H164a12,12,0,0,0,0,24h44a20,20,0,0,0,20-20V48A20,20,0,0,0,208,28Z"></path></svg></a><br class="pc">
            <br class="sp"><br class="sp"><br class="pc">お引き渡しについて、仕入れにかかる日数を加え、発送まで３、４週間程度お時間を頂いております。
            <a href="/leagal" class="animate-link" >詳細はこちらから<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="#003EA2" viewBox="0 0 256 256"><path d="M132,136v64a12,12,0,0,1-24,0V165L48.49,224.49a12,12,0,0,1-17-17L91,148H56a12,12,0,0,1,0-24h64A12,12,0,0,1,132,136ZM208,28H80A20,20,0,0,0,60,48V92a12,12,0,0,0,24,0V52H204V172H164a12,12,0,0,0,0,24h44a20,20,0,0,0,20-20V48A20,20,0,0,0,208,28Z"></path></svg></a>
          
        </p>
    </div>
</div>

<div id="contact" class="con">
    <h1 class="Home_Contact_Title__KdAFZ">SELECT</h1>
    <main class="Layout_Main__dLHqI">
        <div class="Home_Contact__nbvJ6">
            <p class="Home_Contact_Text__3D7zy">セミオーダーは以下のフォームよりお送りください。<br class="sp"><br>送信後、決算ページに移行します。<br class="sp"><span class="stripe-marker">カート名：セミオーダーをご選択します。</span><br class="sp"><br class="pc"><span class="kome">※</span>は必須項目です</p>
            <form method="post" action="https://contact-web.form.newt.so/v1/Hlvrfsl1E">
                <div style="display: none;"><input type="text" name="wana" /></div>
                <label class="Home_Contact_Label__hwNpu" for="name">*氏名</label>
                <input class="Home_Contact_InputText__vKPd7" id="name" required="required" name="name" placeholder="本名をご記入ください">
                <label class="Home_Contact_Label__hwNpu" for="email">*メールアドレス</label>
                <input class="Home_Contact_InputText__vKPd7" id="email" type="email" required="required" name="email" placeholder="info@example.com">
               
                <label class="Home_Contact_Label__hwNpu" for="exterior">外装</label>
                <select name="exterior" class="form-control">
                    <option value="" disabled selected>選択してください</option>
                    <option value="ブラウン">ブラウン</option>
                    <option value="ダークブラウン">ダークブラウン</option>
                    <option value="ブラック">ブラック</option>
                    <option value="グレー">グレー</option>
                    <option value="オレンジ">オレンジ</option>
                    <option value="グリーン">グリーン</option>
                    <option value="ターコイズ">ターコイズ</option>
                    <option value="ピンク">ピンク</option>
                </select>
                <label class="Home_Contact_Label__hwNpu" for="exterior_white">外装 ホワイトワックス (&thinsp;希望の方のみ+3,000円&thinsp;)</label>
                <select name="exterior_white" class="form-control" >
                    <option value="" disabled selected>選択してください</option>
                    <option value="ブラウン">No.1 ブラウン</option>
                    <option value="ダークブラウン">No.2 ダークブラウン</option>
                    <option value="ピンク">No.3 ピンク</option>
                    <option value="グリーン">No.4 グリーン</option>
                    <option value="ターコイズ">No.5 ターコイズ</option>
                    <option value="グレー">No.6 グレー</option>
                    <option value="ブラック">No.7 ブラック</option>
                </select>
             
                <label class="Home_Contact_Label__hwNpu" for="interior">*内装</label>
                <select name="interior" class="form-control" required="required">
                    <option value="" disabled selected>選択してください</option>
                    <option value="ブラウン">ブラウン</option>
                    <option value="ダークブラウン">ダークブラウン</option>
                    <option value="ブラック">ブラック</option>
                    <option value="グレー">グレー</option>
                    <option value="オレンジ">オレンジ</option>
                    <option value="グリーン">グリーン</option>
                    <option value="ターコイズ">ターコイズ</option>
                    <option value="ピンク">ピンク</option>
                </select>
            
                <label class="Home_Contact_Label__hwNpu" for="left_pocket1">*収納ポケット</label>
                <select name="left_pocket1" class="form-control" required="required">
                    <option value="" disabled selected>選択してください</option>
                    <option value="ブラウン">ブラウン</option>
                    <option value="ダークブラウン">ダークブラウン</option>
                    <option value="ブラック">ブラック</option>
                    <option value="グレー">グレー</option>
                    <option value="オレンジ">オレンジ</option>
                    <option value="グリーン">グリーン</option>
                    <option value="ターコイズ">ターコイズ</option>
                    <option value="ピンク">ピンク</option>
                </select>
             
                <label class="Home_Contact_Label__hwNpu" for="right_pocket2">*仕切り</label>
                <select name="right_pocket2" class="form-control" required="required">
                    <option value="" disabled selected>選択してください</option>
                    <option value="ブラウン">ブラウン</option>
                    <option value="ダークブラウン">ダークブラウン</option>
                    <option value="ブラック">ブラック</option>
                    <option value="グレー">グレー</option>
                    <option value="オレンジ">オレンジ</option>
                    <option value="グリーン">グリーン</option>
                    <option value="ターコイズ">ターコイズ</option>
                    <option value="ピンク">ピンク</option>
                </select>
 
                <label class="Home_Contact_Label__hwNpu" for="mati">*カードポケット</label>
                <select name="mati" class="form-control" required="required">
                    <option value="" disabled selected>選択してください</option>
                    <option value="ブラウン">ブラウン</option>
                    <option value="ダークブラウン">ダークブラウン</option>
                    <option value="ブラック">ブラック</option>
                    <option value="グレー">グレー</option>
                    <option value="オレンジ">オレンジ</option>
                    <option value="グリーン">グリーン</option>
                    <option value="ターコイズ">ターコイズ</option>
                    <option value="ピンク">ピンク</option>
                </select>

                <label class="Home_Contact_Label__hwNpu" for="coinpockt">*取っ手</label>
                <select name="coinpockt" class="form-control" required="required">
                    <option value="" disabled selected>選択してください</option>
                    <option value="ブラウン">ブラウン</option>
                    <option value="ダークブラウン">ダークブラウン</option>
                    <option value="ブラック">ブラック</option>
                    <option value="グレー">グレー</option>
                    <option value="オレンジ">オレンジ</option>
                    <option value="グリーン">グリーン</option>
                    <option value="ターコイズ">ターコイズ</option>
                    <option value="ピンク">ピンク</option>
                </select>
            


                <label class="Home_Contact_Label__hwNpu" for="kanagu_keyhook">*キーフック</label>
                <select name="kanagu_keyhook" class="form-control" required="required">
                    <option value="" disabled selected>選択してください</option>
                    <option value="ゴールド">ゴールド</option>
                    <option value="シルバー">シルバー</option>
                </select>

                <label class="Home_Contact_Label__hwNpu" for="fasner_gold">ファスナー (&thinsp;ゴールド&thinsp;)</label>
                <select name="fasner_gold" class="form-control">
                    <option value="" disabled selected>選択してください</option>
                    <option value="ホワイト">ホワイト</option>
                    <option value="ブラウン">ブラウン</option>
                    <option value="ブラック">ブラック</option>
                    <option value="グリーン">グリーン</option>
                    <option value="ワイン">ワイン</option>
                    <option value="オレンジ">オレンジ</option>
                    <option value="ターコイズ">ターコイズ</option>
                </select>

                <label class="Home_Contact_Label__hwNpu" for="fasner_silver">ファスナー (&thinsp;シルバー 希望の方&thinsp;)
                </label>
                <select name="fasner_silver" class="form-control" >
                    <option value="" disabled selected>選択してください</option>
                    <option value="ホワイト">ホワイト</option>
                    <option value="ブラウン">ブラウン</option>
                    <option value="ブラック">ブラック</option>
                    <option value="グリーン">グリーン</option>
                    <option value="ワイン">ワイン</option>
                    <option value="オレンジ">オレンジ</option>
                    <option value="ターコイズ">ターコイズ</option>
                </select>


                <label class="Home_Contact_Label__hwNpu" for="fasner_antique">ファスナー (&thinsp;アンティーク 希望の方&thinsp;)
                </label>
                <select name="fasner_antique" class="form-control" >
                    <option value="" disabled selected>選択してください</option>
                    <option value="ホワイト">ホワイト</option>
                    <option value="ブラウン">ブラウン</option>
                    <option value="ブラック">ブラック</option>
                    <option value="グリーン">グリーン</option>
                    <option value="ワイン">ワイン</option>
                    <option value="オレンジ">オレンジ</option>
                    <option value="ターコイズ">ターコイズ</option>
                </select>

                <label class="Home_Contact_Label__hwNpu" for="ito">*糸</label>
                <select name="ito" class="form-control" required="required">
                    <option value="" disabled selected>選択してください</option>
                    <option value="No.1アイボリー">No.1&thinsp;アイボリー</option>
                    <option value="No.2ブラウン">No.2&thinsp;ブラウン</option>
                    <option value="No.3ブラック">No.3&thinsp;ブラック</option>
                    <option value="No.4ダークブラウン">No.4&thinsp;ダークブラウン</option>
                    <option value="No.5グリーン">No.5&thinsp;グリーン</option>
                    <option value="No.6ベージュ">No.6&thinsp;ベージュ</option>
                    <option value="No.7レンガ">No.7&thinsp;レンガ</option>
                    <option value="No.8ターコイズ">No.8&thinsp;ターコイズ</option>
                </select>
 
                <label class="Home_Contact_Label__hwNpu" for="kokuin">刻印模様（希望の方）</label>
                <select name="kokuin" class="form-control" >
                    <option value="" disabled selected>選択してください</option>
                    <option value="有り（配置ポケット1 右側）">有り（配置：仕切り）</option>                
                </select>

                <label class="Home_Contact_Label__hwNpu"  for="message">イニシャル刻印(&thinsp;希望の方 配置:仕切り&thinsp;)</label>
                <textarea class="Home_Contact_Textarea__iUa5y" id="message" name="message" rows="5"  placeholder="12文字までをご記入ください。大小文字含むA~Z(*大文字は、2つまで。例:T.TTなど3つの場合は、不可)、数字2桁まで(０〜９、*同数字不可:例:22)、 記号【.＆】のみ"></textarea>


                <button type="submit" class="Home_Contact_Button__sfQX_">送信する</button>
            </form>
        </div>
    </main>
</div>


        <script
        is:inline
        src="https://www.google.com/recaptcha/api.js?render=6LcuhAMiAAAAAAARmCpKoIg_rEO-iK-Uk_coKvXo&hl=ja"
      ></script>
      
      <script>
        const form = document.getElementById('form')
        form?.addEventListener('submit', submitFormData)
      
        function submitFormData(event: Event) {
          event.preventDefault()
          grecaptcha.ready(() => {
            grecaptcha
              .execute('6LcuhAMiAAAAAAARmCpKoIg_rEO-iK-Uk_coKvXo', { action: 'submit' })
              .then(async (token) => {
                const target = event.target as typeof event.target & {
                  name: { value: string }
                  email: { value: string }
                  message: { value: string }
                }
      
                const data = {
                  name: target.name.value,
                  email: target.email.value,
                  message: target.message.value,
                  googleReCaptchaToken: token,
                }
      
                const formData = new FormData()
                Object.entries(data).forEach(([key, value]) => {
                  formData.append(key, value)
                })
      
                await sendRequest(formData)
              })
          })
        }
      
        async function sendRequest(formData: FormData) {
          return await fetch('https://contact-web.form.newt.so/v1/Hlvrfsl1E', {
            method: 'POST',
            body: formData,
            headers: {
              Accept: 'application/json',
            },
          })
        }
      </script>
      


  
      <style>

        .recaptcha_policy {
            padding: 0;
            margin: 0;
            padding-top: 10px;
            text-align: center;
            font-size: 11px !important;
            color: #444 !important;
        }
        
        .grecaptcha-badge { visibility: hidden; }
        
            
        
        
        a.slide__next,
        .slider::after {
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            right: 5%;
        }
        
        .slider::after,
        .slide__next {
            position: absolute;
            top: 48%;
            width: 20px;
            height: 20px;
            border: solid #eee;
            border-width: 0 4px 4px 0;
            padding: 3px;
            box-sizing: border-box;
        }
        
        
        .slider::after {
            content: '';
            z-index: 1;
            background: none;
            pointer-events: none;
        }
        
        
        
                .stripe-marker {
                  background-image: repeating-linear-gradient(-45deg,
                    #eee 0, #eee 2px,
                    transparent 2px, transparent 4px
                  );
                  background-repeat: no-repeat;
                  background-position: left bottom;
                  background-size: 100% 0.5em;
                }
                
                
                html {
                          line-height: 1.15;
                          -webkit-text-size-adjust: 100%;
                          -webkit-tap-highlight-color: transparent
                      }
                      
                      body {
                          margin: 0;
                          color: #333;
                          -moz-osx-font-smoothing: grayscale;
                       -webkit-font-smoothing: antialiased;
                       text-rendering: optimizeLegibility;
                       font-family: 'Shippori Mincho', sans-serif;
                
                      }
                      
                .animate-link {
                  text-decoration: none; /* デフォルトの下線を非表示にする */
                  color: #003EA2; /* 文字色 */
                  background-image: linear-gradient(90deg, #003EA2, #003EA2); /* 線の色 */
                  background-repeat: no-repeat;
                  background-position: left bottom; /* 線の起点を左・下に設定 */
                  background-size: 0 1px; /* 線の横幅を0、縦幅を1pxに */
                  transition: background-size 0.6s; /* 線を伸ばすアニメーション実行時間を指定 */
                }
                
                .animate-link:hover {
                  background-size: 100% 1px; /* 線の横幅を100%にする */
                }
                
                
                
                a {
                    background-color: transparent;
                    text-decoration: none;
                    color: inherit
                }
                
                
                
                
                .bun{
                    line-height: 2;
                    font-size: 0.9575rem;
                    font-family: "Shippori Mincho", sans-serif;
                
                }
                
                
                @media print, screen and (max-width: 767px) {
                    .bun {
                    width: auto;
                    margin: 20px 0px 0;
                    font-size: 0.975rem;
                
                  }
                
                  .bun[data-astro-cid-ekziid7k] p[data-astro-cid-ekziid7k]{
                    font-size: 0.975rem;
                    font-family: "Shippori Mincho B1",serif;
                    line-height: 2.3076923077;
                    letter-spacing: .05em;
                
                  }
                
                
                }
                
                
                select{
                    display: block;
                    width: 100%;
                    box-sizing: border-box;
                    font-size: 0.9rem;
                    margin: 0 0 24px;
                    padding: 8px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                }
                
                
                h1 {
                        font-size: inherit;
                        font-weight: inherit;
                        margin: 0
                    }
                    
                
                body {
                    margin: 0;
                    padding: 0;
                    
                    box-sizing: border-box;
                    font-family: 'Shippori Mincho', sans-serif;
                
                }
                
                .container {
                    display: flex;
                    flex-wrap: wrap;
                    width: 80%;
                    max-width: 1200px;
                    margin: 40px auto;
                    margin-top: 120px;
                }
        
        
                @media print, screen and (max-width: 767px) {
                    .container {
                        width: 80%;
        
                    }
        
                }
        
        
                
                .slider-container {
                    flex: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                }
                
                .slider {
                    width: 100%;
                    max-width: 600px;
                    height: auto;
                    text-align: center;
                    overflow: hidden;
                    position: relative;
                }
                
                .slides {
                    display: flex;
                    overflow-x: scroll;
                    position: relative;
                    scroll-behavior: smooth;
                    scroll-snap-type: x mandatory;
                    -webkit-overflow-scrolling: touch; /* iOSデバイスでの滑らかなスクロール */
                }
                
                .slide:nth-of-type(even) {
                    background-color: white;
                }
            
                
                .slide {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-shrink: 0;
                    width: 100%;
                    height: auto;
                    margin-right: 0;
                    box-sizing: border-box;
                    background: white;
                    transform-origin: center center;
                    transform: scale(1);
                    scroll-snap-align: center;
                }
                
                .slide__img {
                    width: 100%;
                    height: auto;
                }
                
                .slide a {
                    background: none;
                    border: none;
                }
                
                
                
                
                
                .slider__nav {
                    box-sizing: border-box;
                    position: absolute;
                    left: 50%;
                    width: 200px;
                    margin-left: -100px;
                    text-align: center;
                }
                
                .slider__navlink {
                    display: inline-block;
                    height: 5px;
                        width: 5px;
                    border-radius: 50%;
                    background-color: #eee;
                    margin: 0 10px;
                }
                
                .description-container {
                    flex: 1;
                    padding: 20px;
                    border-radius: 10px;
                }
                
                @media print, screen and (max-width: 767px) {
                    .container {
                        flex-direction: column;
                        align-items: center;
                    }
                
                    .slider-container {
                        margin-bottom: 20px;
                        width: 100%;
                    }
                
                    .slider {
                        max-width: 100%;
                        height: auto;
                    }
                
                    .slide {
                        height: auto;
                    }
                
                    .description-container {
                        width: 100%;
                        padding: 10px;
                    }
                }
                
                @media (max-width: 480px) {
                    .slider__navlink {
                        height: 5px;
                        width: 5px;
                    }
                
                    .slide__text {
                        font-size: 30px;
                    }
                }
                
                
                
                
                
                
                
                
                .kome{
                    color: #00896C;
                
                }
                
                
                * {
                    padding: 0;
                    margin: 0;
                }
        
        
        *,:before,:after {
            box-sizing: border-box;
            border-style: solid;
            border-width: 0
        }
                
                
                .Home_Contact__nbvJ6 {
                    width: 100%;
                    max-width: 700px;
                    padding: 40px 36px;
                
                }
                
                
                
                .Home_Contact_Title__KdAFZ  {
                    font-weight: normal;
                
                  letter-spacing: 0.12em;
                    position: relative;
                    line-height: 1.5;
                    margin: 0 0 4px;
                    
                    padding: 0;
                    text-align: center;
                 
                    font-size: 1.8rem;
                    margin-top: 60px;
                    
                }
                
                
                .Home_Contact_Title__KdAFZ:after {
                    content: "";
                    display: block;
                    width: 20px;
                    height: 2px;
                    background: #eee;
                    position: absolute;
                    bottom: 80;
                    left: 0;
                    right: 0;
                    margin: auto;
                }
                
                
                .Home_Contact_Label__hwNpu {
                    display: block;
                    font-weight: 700;
                    font-size: 1rem;
                    margin: 0 0 8px
                }
                
                .Home_Contact_InputText__vKPd7 {
                    display: block;
                    width: 100%;
                    box-sizing: border-box;
                    font-size: 0.9rem;
                    margin: 0 0 24px;
                    padding: 8px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                }
                
                .Home_Contact_InputText__vKPd7:hover {
                    border: 1px solid #aaa
                }
                
                .Home_Contact_Textarea__iUa5y {
                    display: block;
                    width: 100%;
                    box-sizing: border-box;
                    font-size: 0.9rem;
                    margin: 0 0 24px;
                    padding: 8px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    resize: vertical
                
                
                    
                }
                
                
                
                
                .Home_Contact_Textarea__iUa5y:hover {
                    border: 1px solid #aaa
                }
                
                .Home_Contact_Button__sfQX_ {
                    font-size: 1rem;
                    margin: 0 auto;
                    display: block;
                    padding: 10px 20px;
                    border-radius: 4px;
                    border: none;
                    font-weight: 700;
                    background: #333;
                    color: #fff;
                    transition: background .2s;
                    cursor: pointer;
                }
                
                .Home_Contact_Button__sfQX_:hover {
                    background: #000;
                }
                
                .Home_Contact_Text__3D7zy {
                    font-size: 0.9575rem;   
                     line-height: 1.5;
                     font-family: "Shippori Mincho", sans-serif;
                     margin: 0 0 48px;
                    padding: 0;
                  text-align: center;
                
                }
                
                
                
                
                
                
                
                .Layout_Main__dLHqI {
                    flex: 1 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    font-size: 1.1rem;
                }
                
                
                .sp {
                    display: none !important;
                }
                
                @media screen and (max-width:767px) {
                    .pc {
                        display: none !important;
                    }
                    .sp {
                        display: block !important;
                    }
                }
                
                </style>