<div class="wrapper">     
    <div class="newsTop_wrapper">
      <div class="newsTop">
        <div class="newsTop_info">
          <div class="newsTop_category">
             Pattern Order      </div>
          <time class="newsTop_date">
                </time>
        </div>
        <h1 class="newsTop_title">
          パターンオーダー   </h1>
       
      </div>
      <div class="newsVisual">
        <img src="/samale-min.webp">
      </div>
    </div>
    
    
    <div class="newsEditor">
        <h1 class="ttl_1"><span class="line">個性を紡ぐ、<br class="sp">あなただけのレザーアート</span></h1>
      <p>レザーアクセサリーは、持つ人を印象づけるキーアイテム。だからこそ細部までこだわり、納得できるものを選びたい。<br class="sp"><br class="sp">当店では素材の中からお好みの革の種類や色を選択していただき、革小物を製作するパターンオーダーを承っております。<br class="sp"><br class="sp">あなただけのこだわり詰め込んだ、「持つ楽しさ」「使う喜び」を存分に味わっていただけます。</p>
    <p>&nbsp;</p>

 


  
    <div class="bp_inner">
      <h3 class="ttl_b">ご注文の流れ<br><span>HOW TO ORDER</span></h3>
      <div class="table notbor">
        <dl>
        <dt>STEP - 1 <br class="sp">アイテム</dt>
        <dd>お客様にはベースとなる革小物を商品ページから選択していただきます。<br class="sp"><br class="sp">ご希望の素材によっては、パターンオーダーに対応していないモデルもございます。<br class="sp"><br class="sp"><br class="pc">また、ポケットを増やす等の形のカスタマイズは出来ません。</dd>
        </dl>
        <dl>
        <dt>STEP - 2 <br class="sp">皮革</dt>
        <dd>下記の中から2種類までお好みの皮革を選択して頂きます。<br class="sp"><br class="pc"><br class="sp">【スクラッチ】&thinsp;８色<br class="pc"><br class="sp">【ホワイトワックス】&thinsp;12色<br class="pc"><br class="sp"><span class="stripe-marker">※外装のみの使用となります。</span><br class="pc"><br class="sp"><a href="https://pircamabui.com/aboutleather/" class="animate-link">詳細はこちらから </a>
        </dd>
        </dl>
        <dl>
        <dt>STEP - 3 <br class="sp">糸色</dt>
        <dd>9色の中からお好みの糸色を1色選択していただきます。<br class="pc"><br class="sp"><br class="sp">ステッチは上糸・下糸ともに同色となります。<br class="pc"><br class="sp"><br class="sp">フランス製 天然麻糸<br class="sp">【Fil Au Chinois】&thinsp;9色</dd>
        </dl>
        <dl>
        <dt>STEP - 4 <br class="sp">金具</dt>
        <dd>それぞれの製品に使用される金具を選択していただきます。<br class="pc"><br class="sp"><br class="sp">【ホック】<br class="sp">&thinsp;ゴールド、アンティーク、シルバー<br class="pc"><br class="sp">【キーフック】<br class="sp">&thinsp;ゴールド、アンティーク、シルバー<br class="pc"><br class="sp">【リング】<br class="sp">&thinsp;ゴールド、シルバー<br class="pc"><br class="sp">【ファスナー】<br class="sp">&thinsp;ゴールド、アンティーク、シルバー </dd>
        </dl>

        <dl>
          <dt>STEP - 6 <br class="sp">ロゴ・刻印</dt>
          <dd>	ロゴの有無、、刻印する文字をお選びいただきます。<br class="pc"><br class="sp"><span class="stripe-marker">※大小文字含め６文字まで</span></dd>
          </dl>
        <dl>
        <dt>お引き渡し・ご配達</dt>
        <dd>仕入れにかかる日数を加え、発送まで４週間程度お時間を頂いております。<br class="pc"><br class="sp"><a href="https://pircamabui.com/leagal/" class="animate-link">詳細はこちらから </a></dd>
        </dl>
      </div><!-- /.table -->
    </div>







<style>

.animate-link {
  text-decoration: none; /* デフォルトの下線を非表示にする */
  color: #003EA2; /* 文字色 */
  background-image: linear-gradient(90deg, #003EA2, #003EA2); /* 線の色 */
  background-repeat: no-repeat;
  background-position: left bottom; /* 線の起点を左・下に設定 */
  background-size: 0 1px; /* 線の横幅を0、縦幅を1pxに */
  transition: background-size 0.6s; /* 線を伸ばすアニメーション実行時間を指定 */
}

.animate-link:hover {
  background-size: 100% 1px; /* 線の横幅を100%にする */
}


.stripe-marker {
  background-image: repeating-linear-gradient(-45deg,
    #eee 0, #eee 2px,
    transparent 2px, transparent 4px
  );
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 100% 0.5em;
}

.bp_inner[data-astro-cid-pj7xj6mf] {
    width: auto;
    margin: 0 auto;
    margin-bottom: 51px;
}
.table dl {
    border-bottom: 1px solid #ececec;
}


.ttl_b {
  font-family: "Shippori Mincho B1", serif;
    line-height: 2.3076923077;
    margin-top: 3.125rem;
    transition: .6s 1s;
    font-size: 24px;
    letter-spacing: .05em;
    text-align: center;
}

.ttl_b span {
  font-size: 0.8rem;
    font-family: "Shippori Mincho", sans-serif;
    display: block;
}



.table dl dt {
    vertical-align: top;
    width: 386px;
    font-size: 16px;
    line-height: 1.6875;
    letter-spacing: 0.1em;
    padding-right: 10px;
}

.table dl {
    display: table;
    width: 100%;
    padding: 35.6px 0
}

.table dl:first-child {
    padding-top: 41px
}


.table dl dt,.table dl dd {
    display: table-cell;
    vertical-align: middle
}



.table dl dt {
    vertical-align: top;
    width: 386px;
    font-family: "Shippori Mincho B1", serif;
    line-height: 2.3076923077;
    margin-top: 3.125rem;
    transition: .6s 1s;
    font-size: 1rem;
    letter-spacing: .05em;
}



.table dl dd {
    width: 555px;
    font-family: "Shippori Mincho B1", serif;
    line-height: 2.3076923077;
    margin-top: 3.125rem;
    transition: .6s 1s;
    font-size: 0.92rem;
    letter-spacing: .05em;
}



.list.list_link li {
    padding: 0
}










.ttl_sub {
    display: block;
    padding-top: 15px;
    font-size: 11px;
    line-height: 2.09091;
    color: #b3b3b3
}

.ttl_cap {
    font-size: 11px;
    line-height: 2.09091
}













.ttl_1 {
    font-family: 'Shippori Mincho', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.75;
    letter-spacing: .1em;
    margin-bottom: 80px;
    font-feature-settings: "palt";
    text-align: center;
}

.ttl_1 .line {
    border-bottom: 1px solid;
    padding-bottom: 7px;
}


.c-singlePager {
position: relative;
font-size: 20px;
font-family: 'Shippori Mincho', sans-serif;
margin: 50px 40px 80px;
padding: 0 0 10px;
}

.c-singlePager_arrow-prev {
position: absolute;
top: 0;
left: 0;
}

.c-singlePager_arrow-next {
position: absolute;
top: 0;
right: 0;
}


.sp {
display: none !important;
}

@media screen and (max-width:767px) {
.pc {
display: none !important;
}
.sp {
display: block !important;
}
}




.wrapper{
margin-bottom: 120px;
}

.newsTop_wrapper {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: reverse;
-ms-flex-direction: row-reverse;
flex-direction: row-reverse;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
padding-top: 120px;
margin: 0px 20px;

}
@media print, screen and (max-width: 767px) {
.newsTop_wrapper {
display: block;
margin: 0px 20px;
}
}

.newsTop {
width: 50%;
padding: 0 80px;
}
@media print, screen and (max-width: 767px) {
.newsTop {
width: auto;
padding: 0;
}
}

.newsTop_info {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
font-family: 'Shippori Mincho', sans-serif;
font-size: 14px;
}
@media print, screen and (max-width: 767px) {
.newsTop_info {
font-size: 12px;
}
}

.newsTop_category {
margin: 0 20px 0 0;
font-size: 1rem;
font-family: 'Shippori Mincho', sans-serif;


}

.newsTop_date {
color: #838383;
}

.newsTop_title {
font-size: 24px;
line-height: 1.5;
margin: 10px 0 0;
}
@media print, screen and (min-width: 768px) and (max-width: 1024px) {
.newsTop_title {
font-size: 1.6rem;
}
}
@media print, screen and (max-width: 767px) {
.newsTop_title {
font-size: 1.6rem;
}
}

.newsTop_share {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
margin: 60px 0 0;
}

.newsTop_shareTitle {
font-family: 'Shippori Mincho', sans-serif;
margin: 0 20px 0 0;
}



.newsTop_shareList_node {
margin: 0 5px;
}

.newsVisual {
width: 50%;
}
.newsVisual img {
width: 100%;
}


.newsEditor {
width: 720px;
margin: 120px auto 0;
}
.newsEditor p {
line-height: 2;
font-size: 0.9375rem;
font-family: 'Shippori Mincho', sans-serif;

}
.newsEditor a {
color: #003EA2;
}
.newsEditor hr {
display: block;
border-bottom: solid 1px #010101;
}
.newsEditor iframe {
max-width: 100%;
}
.newsEditor img {
max-width: 100%;
height: auto;
}
.newsEditor img.aligncenter {
display: block;
margin: 0 auto;
}
.newsEditor > p:not([class]) {
margin-bottom: 20px;
}
.newsEditor .googleMap {
padding-bottom: 54.32%;
}
.newsEditor .googleMap iframe {
width: 100%;
}
.newsEditor .youtube {
position: relative;
width: 100%;
}
.newsEditor .youtube iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}




@media print, screen and (max-width: 767px) {
.newsTop_share {
margin: 20px 0 0;
}
}


@media print, screen and (max-width: 767px) {
.newsTop_shareTitle {
margin: 0 10px 0 0;
}
}


@media print, screen and (max-width: 767px) {
.newsTop_shareList_node svg {
width: 23px;
height: 18px;
}
}


@media print, screen and (max-width: 767px) {
.newsVisual {
width: auto;
margin: 40px 0 0;
}
}

@media print, screen and (max-width: 767px) {
.newsEditor {
width: auto;
margin: 60px 20px 0;
font-size: 0.95rem;

}

.newsEditor[data-astro-cid-ekziid7k] p[data-astro-cid-ekziid7k]{
font-size: 0.95rem;

font-family: "Shippori Mincho B1",serif;
line-height: 2.3076923077;
letter-spacing: .05em;

}
}




p{
font-family: "Shippori Mincho B1",serif;
line-height: 2.3076923077;
margin-top: 3.125rem;
transition: .6s 1s;
font-size: 0.9rem;
letter-spacing: .05em;
}




.sns:hover{
text-decoration:underline;

}



















* {
padding: 0;
margin: 0;
}






*,:before,:after {
box-sizing: border-box;
border-style: solid;
border-width: 0
}
html {
line-height: 1.15;
-webkit-text-size-adjust: 100%;
-webkit-tap-highlight-color: transparent
}

body {
margin: 0;
color: #333;
-moz-osx-font-smoothing: grayscale;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
font-family: 'Shippori Mincho', sans-serif;

}


main {
display: block
}

p,table,blockquote,address,pre,iframe,form,figure,dl {
margin: 0
}

h1,h2,h3,h4,h5,h6 {
font-size: inherit;
font-weight: inherit;
margin: 0
}




hr {
box-sizing: content-box;
height: 0;
overflow: visible;
border-top-width: 1px;
margin: 0;
clear: both;
color: inherit
}


a {
background-color: transparent;
text-decoration: none;
color: inherit
}






</style>