


<div id="samplecode">
    <div class="_root_1wfkv_3">
        <h2 class="_root_10va8_1"><span id="first">Hi,I'm E.</span><br><span id="second">WEB制作のご依頼</span></h2>
        
    </div>
 

    </div>


   

    
        <section id="about" class="section" data-astro-cid-w3xduq4o="">
            <div class="contentsLayout small" data-astro-cid-scuu7fyy="">
                <h2 class="ti21" >About</h2>
                <div class="contents" data-astro-cid-j7pv25f6="">
                    <div class="about__grid" data-astro-cid-j7pv25f6="">
                        <div class="about__image" data-astro-cid-j7pv25f6="">
                         <img src="/againere.webp" alt="my-icon" class="fit" data-astro-cid-j7pv25f6="" width="280" height="280" loading="lazy" decoding="async"></div>
                         <p class="bun" data-astro-cid-j7pv25f6="">
                            北海道を拠点に、フリーランスWebエンジニアをやっています。<br class="sp">WEBフレームワークとして主にAstroを使用して構築をしていきます。
                            </p>
                            <p class="bun" data-astro-cid-j7pv25f6="">
                                CMSであるWordpressを使ったWEBサイト案件の制作も可能です。<br class="sp">ご予算に合わせてプランをご選択できます。<br class="sp"><br class="sp">お気軽にご相談下さい!

                            </p></div>
                            
                            <div class="about__button" data-astro-cid-j7pv25f6="">
                                     <a href="#section3" class="button center" data-astro-cid-vnzlvqnm="">料金プランについて
                                        <svg viewBox="0 0 24 24" data-astro-cid-vnzlvqnm="" class="button__icon" astro-icon="majesticons:arrow-up-line">
                                            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m12 5 6 6m-6-6-6 6m6-6v14">
                                                 </path></svg></a></div>
                            </div></div></section>



                                                 <section id="skill" class="section bgGray" data-astro-cid-w3xduq4o="">
                                                    <div class="contentsLayout small" data-astro-cid-scuu7fyy="">
                                                        <h2 class="ti20" >SKILL</h2>

                                                        <div class="contents" data-astro-cid-j7pv25f6="">
                                                            <div class="skill__list" data-astro-cid-j7pv25f6="">
                                                                <div class="box" data-astro-cid-wezlmloa="" >HTML</div>
                                                                <div class="box" data-astro-cid-wezlmloa="" >CSS</div>
                                                                <div class="box" data-astro-cid-wezlmloa="" >SCSS</div>
                                                                <div class="box" data-astro-cid-wezlmloa="">JavaScript</div>
                                                                <div class="box" data-astro-cid-wezlmloa="" >PYTHON</div>
                                                                <div class="box" data-astro-cid-wezlmloa="" >FLASK</div>
                                                                <div class="box" data-astro-cid-wezlmloa="">WordPress</div>
                                                                <div class="box" data-astro-cid-wezlmloa="" >ASTRO</div>
                                                            </div></div></div></section>

                                                            <section id="section3" class="section3">
                                                                <h2 class="ti22" >PRICE</h2>
                                                            <div class="plan__detail">
                                                                <div class="plan__detail__top">
                                                                  <h4 class="plan__detail__title">A: シンプルながら小規模なサイト</h4>
                                                                  <div class="plna__detail__hr"></div>
                                                                  <p class="plan__detail__price">¥<span>140,000</span>（税込）</p>
                                                                </div>
                                                                <ul class="plan__detail__lists">
                                                                  <li class="plan__detail__list">ページ数&nbsp;&nbsp;&nbsp;1~4&nbsp;&nbsp;<br class="sp">(お問い合わせのページは除く)</li>
                                                                  <li class="plan__detail__list"></li>
                                                                </ul>
                                                                <p class="plan__detail__atention">・保守費用(月額):4,000円<br class="sp"> ・環境:Wordpress <br class="sp">・オリジナルデザイン<br class="sp"> ・スマホ対応 <br class="sp">・納期1ヶ月以内</p>
                                                              </div>
                                                              
                                                              <div class="plan__detail">
                                                                <div class="plan__detail__top">
                                                                  <h4 class="plan__detail__title">B: デザイン、ページ数にこだわりたい</h4>
                                                                  <div class="plna__detail__hr"></div>
                                                                  <p class="plan__detail__price">¥<span>180,000</span>（税込）</p>
                                                                </div>
                                                                <ul class="plan__detail__lists">
                                                                  <li class="plan__detail__list">ページ数&nbsp;&nbsp;&nbsp;1~8&nbsp;&nbsp;<br class="sp">(お問い合わせのページは除く)</li>
                                                                
                                                                </ul>
                                                                <p class="plan__detail__atention">・保守費用(月額):4,000円 <br class="sp">・環境:Wordpress <br class="sp">・オリジナルデザイン <br class="sp">・スマホ対応 <br class="sp">・納期1ヶ月以内</p>
                                                              </div>

                                                              <div class="plan__detail">
                                                                <div class="plan__detail__top">
                                                                  <h4 class="plan__detail__title">C: 最新の技術、超高速、ページ数、デザイン諸々こだわりたい</h4>
                                                                  <div class="plna__detail__hr"></div>
                                                                  <p class="plan__detail__price">¥<span>380,000</span>（税込）</p>
                                                                </div>
                                                                <ul class="plan__detail__lists">
                                                                  <li class="plan__detail__list">ページ数&nbsp;&nbsp;&nbsp;1~10&nbsp;&nbsp;<br class="sp">(お問い合わせのページは除く)</li>
                                                                
                                                                </ul>
                                                                <p class="plan__detail__atention">・保守費用(月額):10,000円 <br class="sp">・環境:Astro <br class="sp">・オリジナルデザイン <br class="sp">・スマホ対応 <br class="sp">・納期2ヶ月半</p>
                                                              </div>
                                                              <div onclick="obj=document.getElementById('open').style; obj.display=(obj.display=='none')?'block':'none';">
                                                              <div class="about__button" data-astro-cid-j7pv25f6="">
                                                                <a style="cursor:pointer;" class="button center" data-astro-cid-vnzlvqnm="">Astro、詳細
                                                                   <svg viewBox="0 0 24 24" data-astro-cid-vnzlvqnm="" class="button__icon" astro-icon="majesticons:arrow-up-line">
                                                                       <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m12 5 6 6m-6-6-6 6m6-6v14">
                                                                            </path></svg></a></div>
                                                            </section>
                                                        </div>



                                                        <div id="open" style="display:none;clear:both;">
                                                            <section class="introduction astro-HR23OLMI">
                                                                <div class="introduction__container astro-HR23OLMI">
                                                                  <div class="introduction__content astro-HR23OLMI is-inview" data-scroll="">
                                                                  <h2 class="introduction__heading astro-HR23OLMI">Astroについて </h2>
                                                                  <p class="introduction__text astro-HR23OLMI">Astroは、コンテンツにフォーカスした高速なWebサイトを構築するためのオールインワンWebフレームワークです。
                                                                   <br class="pc"><br class="sp"><br class="sp">2022年にbeta版としてリリースされ、2023年には本格的に利用ができるようになりました。
                                                                    <br class="pc"><br class="sp"><br class="sp">Astroは閲覧がメインになるWebサイトの開発が得意です。<br class="pc">
                                                                    <br class="sp">・Webメディア<br class="pc"><br class="sp">
                                                                    ・ブログ<br class="pc"><br class="sp">
                                                                    ・ポートフォリオ<br class="pc"><br class="sp">
                                                                    ・マーケティング用のページやECサイト<br class="pc"><br class="sp">
                                                                </p></div>
                                                                  <figure class="introduction__map astro-HR23OLMI">
                                                                  <img src="/astqq-min.webp" alt="アストロについて" class="astro-HR23OLMI">
                                                                          <br><center><span style="color: #999999;">画像引用:https://astro.build/</span>  </center>
                                                                        </figure>
                                                                </div>
                                                                </section>

                                                                    
    <section class="introduction astro-HR23OLMI">
        <div class="introduction__container astro-HR23OLMI">
          <div class="introduction__content astro-HR23OLMI is-inview" data-scroll="">
          <h2 class="introduction__heading astro-HR23OLMI">パフォーマンス（速度）がとにかく早い
        </h2>
          <p class="introduction__text astro-HR23OLMI">
            Astroは、従来の常識を覆したWEBフレームワークにより、高速化を可能にしました。サイトを製作する上で、パフォーマンス（速度）が非常に重要になります。 <br class="pc"><br class="sp"><br class="sp">表示速度が改善できれば、検索順位への影響だけでなく、ユーザーの満足度を高めることにつながるからです。 <br class="pc">
           既存のサイトを保有しているが、速度が遅いなどの問題を抱えている場合にはAstroを強くおすすめします。</p></div>
          <figure class="introduction__map astro-HR23OLMI">
          <img src="/astrro-min.webp" alt="アストロの速度パフォーマンスについて" class="astro-HR23OLMI">
                  <br><center><span style="color: #999999;">画像引用:https://astro.build/</span>  </center>
                </figure>
        </div>
        </section>
        
                                                                
                                                            </div>







                                                <div id="contact" class="con">
                                                <h2 class="ti2" >CONTACT</h2>
                                                <main class="Layout_Main__dLHqI">
                                                    <div class="Home_Contact__nbvJ6">
                                                        <p class="Home_Contact_Text__3D7zy">お問い合わせは以下のフォームよりお送りください。<span class="kome">※</span>は必須項目です</p>
                                                        <form action="https://ssgform.com/s/sncvxuALmBmE" method="post">
                                                            <div style="display: none;"><input type="text" name="wana" /></div>
                                                            <label class="Home_Contact_Label__hwNpu" for="name">*氏名</label>
                                                            <input class="Home_Contact_InputText__vKPd7" id="name" required="required" name="name"  placeholder="本名をご記入ください">
                                                            <label class="Home_Contact_Label__hwNpu" for="email">*メールアドレス</label>
                                                            <input class="Home_Contact_InputText__vKPd7" id="email" type="email" required="required" name="email" placeholder="info@example.com">
                                                            <label class="Home_Contact_Label__hwNpu" for="phone">*電話番号</label>
                                                            <input class="Home_Contact_InputText__vKPd7" id="phone" required="required" name="phone" placeholder="ハイフン不要">
                                                            <label class="Home_Contact_Label__hwNpu" for="subject">*プラン内容</label>
                                                            <select name="subject" class="form-control" required>
                                                                <option value="プランA">プランA</option>
                                                                <option value="プランB">プランB</option>
                                                                <option value="プランC">プランC</option>
                                                                <option value="相談したい">相談したい</option>
                                                            </select><br><br>
                                                            <label class="Home_Contact_Label__hwNpu" for="message">お問い合わせ内容</label>
                                                            <textarea class="Home_Contact_Textarea__iUa5y" id="message" name="message" rows="5"></textarea>
                                                         
                                                            <button type="submit" class="Home_Contact_Button__sfQX_">送信する</button>
                                                        </form>
                                                    </div>
                                                </main>
                                                    </div>

                
                                                    










<style>
















.introduction{
       background-color: var(--color-white);
       margin-bottom: -4px;
       padding-bottom: 4px;
       overflow: hidden;
   }
   
   
   
   .introduction__container {
       display: flex;
       align-items: center;
       width: 100%;
       max-width: 85.375rem;
       margin: 0 auto;
   }
   
   .introduction__content {
       padding: 6.125rem 0 6.125rem 9.5168374817%;
       max-width: 47.364568082%;
   }
   
   
   
   
   .introduction__heading {
    font-family: 'Shippori Mincho', sans-serif;
        font-size: 1.4rem;
       line-height: 1.7;
       transition: 2s cubic-bezier(.16,1,.3,1);
       font-style: italic;

   }
   
   
   h1, h2, h3, h4, h5, h6 {
        font-family: 'Shippori Mincho', sans-serif;

       font-size: inherit;
       font-weight: inherit;
       margin: 0;
   }
   
   
   
   .introduction__text{
        font-family: 'Shippori Mincho B1',serif;
       line-height: 2.3076923077;
       margin-top: 3.125rem;
       transition: .6s 1s;
       font-size: 0.9rem;
       letter-spacing: .05em;


   }
   

   p, table, blockquote, address, pre, iframe, form, figure, dl {
       margin: 0;
   }
   
   *, :before, :after {
       box-sizing: border-box;
       border-style: solid;
       border-width: 0;
   }
   
   .introduction__map{
       display: block;
       flex: 1;
       margin-right: -1.25rem;
       padding-left: 2.5rem;
   }
   
   p, table, blockquote, address, pre, iframe, form, figure, dl {
       margin: 0;
   }
   
   
   body {
       -moz-osx-font-smoothing: grayscale;
       -webkit-font-smoothing: antialiased;
       text-rendering: optimizeLegibility;
       height: 100%;
       letter-spacing: .05em;
       line-height: 1.6923076923;
       color: #333;

   }
   

            @media print, screen and (max-width: 767px) {


    .introduction__map[data-astro-cid-v2cbyr3p]{
    padding-left: 0;
}

    .introduction__container{
    flex-direction: column; /* Stack elements vertically on smaller screens */
    align-items: center;
  }

  .introduction__content {
    padding: 2.5rem 0; /* Adjust padding for spacing */
    text-align: center; /* Center text on smaller screens */
  }

  .introduction__map{
    display: block;
    margin: 0;
    width: 100%; /* Make the image take up 100% of the width */
  }

  .introduction__text {
    margin-top: 1.25rem; /* Add space between image and text */
    text-align: left; /* Center text */
    font-size: 0.95rem;
    padding-top: 30px;
  }

  .introduction__heading {
    font-size: 1.2rem;
    line-height: 1.7;
  }

  .introduction__content {
       max-width: 80%;
   }
}











   
   html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}


body {
       -moz-osx-font-smoothing: grayscale;
       -webkit-font-smoothing: antialiased;
       text-rendering: optimizeLegibility;
       height: 100%;
       letter-spacing: .05em;
       line-height: 1.6923076923;
       color: #333;

   }
   



















.bun{
    font-family: "Shippori Mincho B1",serif;
    line-height:1.7;    
    margin-top: 3.125rem;
    transition: .6s 1s;
    font-size: 0.98rem;
    letter-spacing: .05em;
}

.section3{

    width: 100%;
    max-width: 85.375rem;
    margin: 0 auto;
}




@media print, screen and (max-width: 767px) {

.plan__detail {
    margin-top: 10px;
    padding: 22px;
    
}

.plan__detail__top {
    display: block;
}

h4.plan__detail__title {
    font-size: 1.25rem;
    padding: 4px 0px 8px;
}
.plna__detail__hr {
    display: none;
}
.plan__detail__lists {
    margin-top: 16px;
}


}







.plan__detail__lists {
    margin-top: 20px;
    font-weight: 300;
}

ul, ol {
    list-style: none;
}
.plan__detail__title {
    display: inline-block;
    font-size: 0.95rem;
    color: #1C1C1C;
    padding: 8px 12px;
    background-color: #eee;
    font-family: "Shippori Mincho",sans-serif;

}
.plan__detail__list + .plan__detail__list {
    margin-top: 10px;
}

.plan__detail__list {
    position: relative;
    padding-left: 14px;
    font-family: "Shippori Mincho B1",serif;
    line-height: 2.3076923077;
    margin-top: 3.125rem;
    transition: .6s 1s;
    font-size: 1rem;
    letter-spacing: .05em;
}

.plan__detail {
    margin-top: 30px;
    padding: 30px 50px;
    background-color: #f8f8f8;
    
}

.plan__detail__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;
}

.plan__detail__atention {
    margin-top: 16px;
    font-size: 1rem;

}

.plan__detail {
    margin-top: 30px;
    padding: 32px 60px;
    background-color:white;
}

.plan__detail__price {
    font-weight: 400;
 
}
.plna__detail__hr {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 1px;
    margin: 0 40px;
    background-image: linear-gradient(to right, #333, #333 1px, transparent 1px, transparent 6px);
    background-size: 6px 1px;
    background-position: left bottom;
    background-repeat: repeat-x;
}


.plan__detail__price span {
    display: inline-block;
    font-size: 25px;
    font-weight: 300;
    margin-left: 10px;
    font-family: "Shippori Mincho B1",serif;

}








.con{
    margin-top: 100px;
}



td,th {
    vertical-align: top;
    padding: 0;
}

th {
    text-align: left;
    font-weight: 700;
}






.bgGray[data-astro-cid-w3xduq4o] {
    background: var(--color-background);
}



            .skill__list[data-astro-cid-j7pv25f6] {
                display: grid;
            }

            @media print, screen and (max-width: 767px) {
                .skill__list[data-astro-cid-j6kd7vr7][data-astro-cid-j7pv25f6] {
                    gap:16px;
                    grid-template-columns: repeat(2,1fr);
                }
            }

                .skill__list[data-astro-cid-j7pv25f6] {
                    gap:24px;
                    grid-template-columns: repeat(4,1fr);
                }
        










.kome{
    color: #00896C;

}


* {
    padding: 0;
    margin: 0;
}



.Home_Contact__nbvJ6 {
    width: 100%;
    max-width: 700px;
    padding: 40px 36px;

}

.Home_Contact_Title__KdAFZ {
    margin: 0 0 4px;
    padding: 0;
    text-align: center;
    line-height: 1.5;
    font-size: 1.8rem;
    
}


.Home_Contact_Label__hwNpu {
    display: block;
    font-weight: 700;
    font-size: 1rem;
    margin: 0 0 8px
}

.Home_Contact_InputText__vKPd7 {
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 0.9rem;
    margin: 0 0 24px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.Home_Contact_InputText__vKPd7:hover {
    border: 1px solid #aaa
}

.Home_Contact_Textarea__iUa5y {
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 0.9rem;
    margin: 0 0 24px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical
}

.Home_Contact_Textarea__iUa5y:hover {
    border: 1px solid #aaa
}

.Home_Contact_Button__sfQX_ {
    font-size: 1rem;
    margin: 0 auto;
    display: block;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    font-weight: 700;
    background: #333;
    color: #fff;
    transition: background .2s;
    cursor: pointer;
}

.Home_Contact_Button__sfQX_:hover {
    background: #000;
}

.Home_Contact_Text__3D7zy {
    font-size: 0.9rem;
    line-height: 1.5;
    margin: 0 0 48px;
    padding: 0;
    color: #666;
    text-align: center;
}

.Layout_Main__dLHqI {
    flex: 1 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 1.1rem;
}







*,:before,:after {
    box-sizing: border-box;
    border-style: solid;
    border-width: 0;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
}

main {
    display: block;
}

p,table,blockquote,address,pre,iframe,form,figure,dl {
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
}




hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    border-top-width: 1px;
    margin: 0;
    clear: both;
    color: inherit;
}


a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}









p{
    font-family: "Shippori Mincho B1",serif;
    line-height: 1.7;
    margin-top: 3.125rem;
    transition: .6s 1s;
    font-size: 0.9rem;
    letter-spacing: .05em;
}




.ti20{
    font-size: 3.5rem;
    text-align: center;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
    padding-bottom: 50px;
    font-family: "Shippori Mincho",sans-serif;

}






.ti2{
    font-size: 3rem;
    text-align: center;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
}

.ti21{
    font-size: 3rem;
    text-align: center;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
    padding-top: 30px;
    padding-top: 0px;
    font-family: "Shippori Mincho",sans-serif;

}



.ti22{
    font-size: 3rem;
    text-align: center;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
    padding-top: 120px;
    padding-bottom: 30px;
    font-family: "Shippori Mincho",sans-serif;


}



@media print, screen and (max-width: 767px) {

 
    .ti2{
        font-size: 3rem;
  }

  .ti22{
        font-size: 3rem;
  }

  .button[data-astro-cid-vnzlvqnm] {
    padding: 14px px
 20px;
    width: 100%;
}
.about__button[data-astro-cid-j7pv25f6] {
    margin-top: 48px;
}
.contents[data-astro-cid-j7pv25f6] {
    padding: 0 30px;
}

.bun{
    font-family: "Shippori Mincho B1",serif;
    line-height: 1.7;
    margin-top: 3.125rem;
    transition: .6s 1s;
    font-size: 1rem;
    letter-spacing: .05em;
}
}


:root {
    --color-primary: #333;
    --color-secondary: #fff;
    --color-accent: #cc9900;
    --color-background: #f1f2f2;
    --color-background-contact: #2b3143;
    --color-text: #333;
    --color-gray: #888;
    --color-canvas: #2b3143;
    --content-width-small: 800px;
    --content-width-medium: 1200px;
    --headerHeight: 100px;
    --headerHeight-sp: 80px;
}




img.fit {
    width: 100%;
    height: auto;
}

img.cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}




.contents {
    margin-top: 40px;
}



.textCenter {
    text-align: center;
}



    @media print, screen and (max-width: 767px) {
    ._button_1jidj_146 {
        position:relative;
        z-index: 1;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding-bottom: 10px;
        width: clamp(56px,15vw,64px);
        height: clamp(56px,15vw,64px);
        border-radius: 50%;
        background: var(--color-primary);
        color: var(--color-secondary);
    }
}

@media screen and (min-width: 768px) {
    ._button_1jidj_146 {
        display:none;
    }
}

._button_1jidj_146[aria-expanded=true] {
    color: var(--color-primary);
    background: var(--color-secondary)
}

._button_1jidj_146[aria-expanded=true] ._button__icon_1jidj_169:before,._button_1jidj_146[aria-expanded=true] ._button__icon_1jidj_169:after {
    background: var(--color-primary)
}

@media print, screen and (max-width: 767px) {
    ._button__icon_1jidj_169 {
        position:absolute;
        inset: 0;
        width: 100%;
        height: 100%;
    }

    ._button__icon_1jidj_169:before,._button__icon_1jidj_169:after {
        position: absolute;
        left: 28%;
        content: "";
        display: inline-block;
        background: var(--color-secondary);
        height: 2px;
        border-radius: 24px;
        
    }

    ._button__icon_1jidj_169:before {
        top: 18px;
        width: 20px;
    }

    ._button__icon_1jidj_169:after {
        top: 26px;
        width: 30px;
    }
}

@media print, screen and (max-width: 767px) {
    ._button__text_1jidj_200 {
        font-size:14px;
    }
}

._root_1j163_1 {
    display: flex;
    gap: 20px;
}

._root_1j163_1 a {
    display: block;
    width: 20px;
    height: 20px;
    transition: scale .3s;
}

@media (hover: hover) {
    ._root_1j163_1 a:where(:any-link,:enabled,summary):hover {
        scale:1.2;
    }
}

._root_1j163_1 svg {
    width: 100%;
    height: 100%;
}


.contentsLayout[data-astro-cid-scuu7fyy] {
    margin-inline:auto;
}

    @media print, screen and (max-width: 767px) {
    .contentsLayout[data-astro-cid-scuu7fyy] {
        padding:0 16px;
    }
}



@media screen and (min-width: 768px) {
    .small[data-astro-cid-scuu7fyy] {
        max-width:var(--content-width-small);
    }
}

@media screen and (min-width: 768px) {
    .medium[data-astro-cid-scuu7fyy] {
        max-width:var(--content-width-medium);
    }
}

._root_10va8_1 {
    font-weight: 700;
    line-height: 1.2;
    font-family: "Shippori Mincho B1",serif;

}

@media print, screen and (max-width: 767px) {
    ._root_10va8_1 {
        font-size:2.5rem;
    }
}

@media screen and (min-width: 768px) {
    ._root_10va8_1 {
        font-size:3.8rem;
    }
}

._center_10va8_16 {
    text-align: center;
}

.link[data-astro-cid-mbqdmgin] {
    text-decoration: underline;
}

@media (hover: hover) {
    .link[data-astro-cid-mbqdmgin]:where(:any-link,:enabled,summary):hover {
        text-decoration:none;
    }
}



@media print, screen and (max-width: 767px) {
    .section[data-astro-cid-w3xduq4o] {
        padding:64px 0 80px;
        min-height: 300px;
    }
}

@media screen and (min-width: 768px) {
    .section[data-astro-cid-w3xduq4o] {
        padding:80px 0 120px;
        min-height: 500px;
    }
}




     

            .box[data-astro-cid-wezlmloa] {
                border: 2px solid var(--color-primary);
                background: var(--color-secondary);
                border-radius: 20px;
                font-size: 20px;
                font-weight: 700;
                display: grid;
                place-content: center;
                height: clamp(120px,22.5vw,162px);
            }

            .contents[data-astro-cid-j7pv25f6] {
                margin-top: 40px;
            }

      
            .sceneImage[data-astro-cid-j7pv25f6] {
                overflow: hidden;
                margin-inline:auto;border-radius: 40px;
            }

            @media screen and (max-width: 767px) {
                .sceneImage[data-astro-cid-j7pv25f6] {
                    height:50vw;
                }
            }

            .about__grid[data-astro-cid-j7pv25f6] {
                display: grid;
                margin-top: 40px;
            }

            @media screen and (min-width: 768px) {
                .about__grid[data-astro-cid-j7pv25f6] {
                    grid-template:auto 1fr/min(20vw,260px) 1fr;
                    gap: 0 40px;
                }
            }

            .about__grid[data-astro-cid-j7pv25f6]>p[data-astro-cid-j7pv25f6]:nth-of-type(n+2) {
                margin-top: 24px;
            }

            @media screen and (max-width: 767px) {
                .about__image[data-astro-cid-j7pv25f6] {
                    width:min(64.1vw,250px);
                    margin: 0 auto 32px;
                }
            }

            @media screen and (min-width: 768px) {
                .about__image[data-astro-cid-j7pv25f6] {
                    grid-row:1/3
                }
            }

            @media screen and (max-width: 767px) {
                .about__button[data-astro-cid-j7pv25f6] {
                    margin-top:48px;
                }
            }

            @media screen and (min-width: 768px) {
                .about__button[data-astro-cid-j7pv25f6] {
                    margin-top:40px;
                }
            }

            .skill__list[data-astro-cid-j7pv25f6] {
                display: grid;
            }

         
       
            .button[data-astro-cid-vnzlvqnm] {
                display: flex;
                justify-content: center;
                align-items: center;
                width: fit-content;
                color: var(--color-primary);
                background: var(--color-secondary);
                text-align: center;
                border-radius: 40px;
                border: 2px solid var(--color-primary);
                font-weight: 700;
                transition-property: color,background;
                transition-duration: .3s;
            }

            @media screen and (min-width: 768px) {
                .button[data-astro-cid-vnzlvqnm] {
                    padding:10px 24px;
                    min-width: 240px;
                }
            }

            @media screen and (max-width: 767px) {
                .button[data-astro-cid-vnzlvqnm] {
                    padding: 10px 0px;
                    width: 100%;
                }
            }

            @media (hover: hover) {
                .button[data-astro-cid-vnzlvqnm]:where(:any-link,:enabled,summary):hover {
                    background:var(--color-primary);
                    color: var(--color-secondary);
                }

                .button[data-astro-cid-vnzlvqnm]:where(:any-link,:enabled,summary):hover .button__icon[data-astro-cid-vnzlvqnm] {
                    translate: 5px;
                }
            }

            .button__icon[data-astro-cid-vnzlvqnm] {
                width: 24px;
                height: 100%;
                rotate: 90deg;
                flex-shrink: 0;
                transition: translate .3s;
            }

            @media screen and (min-width: 768px) {
                .center[data-astro-cid-vnzlvqnm] {
                    margin-inline:auto;
                }
            } 



















                #samplecode{
                    color:#1C1C1C; 
                    font-family: 'Shippori Mincho', sans-serif;

                }
                ._root_10va8_1{  
                    width: 10em;
                    margin: 0 auto;
                    border-right: 2px solid #1C1C1C;
                    font-weight: bold;
                    text-align: center;
                    white-space: nowrap;
                    overflow: hidden;
                    font-family: 'Shippori Mincho', sans-serif;

                }
                
                /* Animation */
                ._root_10va8_1{
                    animation: typewriter 3s steps(19) 1s 1 normal both,
                    blinkCursor 400ms steps(19) infinite normal;
                }
                @keyframes typewriter{
                    from{width: 0;}
                    to{width: 15em;}
                }
                @keyframes blinkCursor{
                    from{border-right-color: white;}
                    to{border-right-color: transparent;
                    }
                }  










            ._root_1wfkv_3 {
                position: relative;
                overflow: hidden;
                display: grid;
                place-content: center;
                height: 50vh;
                
            }

            ._circle_1wfkv_12 {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                opacity: 0
            }



    ._root_1wfkv_3 {
    position: relative;
    overflow: hidden;
    display: grid;
    place-content: center;
    height: 100vh;
    height: 100dvh;
    
    }

    ._root_10va8_1 {
    font-weight: 700;
    line-height: 1.2;
    }

    @media print, screen and (max-width: 767px) {
    ._root_10va8_1 {
        font-size:40px;
    }
    }

    @media screen and (min-width: 768px) {
    ._root_10va8_1 {
        font-size:64px;
    }
    }













































@media print, screen and (max-width: 767px) {
    .introduction__map[data-astro-cid-w33dfaaj]{
  padding-left:0px;

}
}

nav {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      background-color: rgba(255, 255, 255, 0.8);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
      width: 100%;
 
      font-family: "Shippori Mincho",sans-serif;

    }



  
    nav .nav-content {
      max-width: 1200px;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: flex-end;
            padding: 10px;
    }
  
    nav .logo a {
      font-weight: 500;
      font-size: 1.05rem;
      color:#3A3226;
      
      text-decoration: none;

    }
  
    .nav-content .nav-links {
      display: flex;
    }
  

    
    .nav-content .nav-links li {
      list-style: none;
      margin: 0 8px;
    }
  
    .nav-links li a {
      text-decoration: none;
      color:#3A3226;
      font-size: 0.95rem;
      font-weight: 500;
      padding: 10px 4px;
      transition: all 0.3s ease;
      line-height: 2.6176470588;
        letter-spacing: .084em;
        gap:3.125rem;
        font-family: "Shippori Mincho",sans-serif;

    }

    .nav-links li a:hover {
      color: #0e2431;
      border-bottom:1px solid black;
    }
  
  
    @media print, screen and (max-width: 767px) {
      .nav-links li a {
        width: 100%;
        text-align: center;
        font-size: 0.98rem;
        padding: 0px 0px;
      }
      nav[data-astro-cid-3ef6ksr2] .logo[data-astro-cid-3ef6ksr2] a[data-astro-cid-3ef6ksr2]{
        font-size: 0.98rem;
      }
    }












@media screen and (max-width: 767px) {
                .about__button[data-astro-cid-j7pv25f6] {
                    margin-top:48px;
                }
            }

            @media screen and (min-width: 768px) {
                .about__button[data-astro-cid-j7pv25f6] {
                    margin-top:40px;
                }
            }

            .skill__list[data-astro-cid-j7pv25f6] {
                display: grid;
            }

         
       
            .button[data-astro-cid-vnzlvqnm] {
                display: flex;
                justify-content: center;
                align-items: center;
                width: fit-content;
                color: var(--color-primary);
                background: var(--color-secondary);
                text-align: center;
                border-radius: 40px;
                border: 2px solid var(--color-primary);
                font-weight: 700;
                transition-property: color,background;
                transition-duration: .3s;

                font-family: "Shippori Mincho B1",serif;
                font-size: 0.9rem;

            }

            @media screen and (min-width: 768px) {
                .button[data-astro-cid-vnzlvqnm] {
                    padding:10px 24px;
                    min-width: 240px;
                }
             
                
            }

            @media screen and (max-width: 767px) {
                .button[data-astro-cid-vnzlvqnm] {
                    padding:10px 0px;
                    width: 100%;
                }
                .button__icon[data-astro-cid-v2cbyr3p][data-astro-cid-vnzlvqnm] {
                    display: none;
                }
            }

            @media (hover: hover) {
                .button[data-astro-cid-vnzlvqnm]:where(:any-link,:enabled,summary):hover {
                    background:var(--color-primary);
                    color: var(--color-secondary);
                }

                .button[data-astro-cid-vnzlvqnm]:where(:any-link,:enabled,summary):hover .button__icon[data-astro-cid-vnzlvqnm] {
                    translate: 5px;
                }
            }

            .button__icon[data-astro-cid-vnzlvqnm] {
                width: 24px;
                height: 100%;
                rotate: 90deg;
                flex-shrink: 0;
                transition: translate .3s
            }

            @media screen and (min-width: 768px) {
                .center[data-astro-cid-vnzlvqnm] {
                    margin-inline:auto;
                }
            }




img.fit {
    width: 100%;
    height: auto;
}

img.cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}




.contents {
    margin-top: 40px;
}



.textCenter {
    text-align: center;
}



@media screen and (max-width: 767px) {
    ._button_1jidj_146 {
        position:relative;
        z-index: 1;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding-bottom: 10px;
        width: clamp(56px,15vw,64px);
        height: clamp(56px,15vw,64px);
        border-radius: 50%;
        background: var(--color-primary);
        color: var(--color-secondary);
    }
}

@media screen and (min-width: 768px) {
    ._button_1jidj_146 {
        display:none;
    }
}

._button_1jidj_146[aria-expanded=true] {
    color: var(--color-primary);
    background: var(--color-secondary);
}

._button_1jidj_146[aria-expanded=true] ._button__icon_1jidj_169:before,._button_1jidj_146[aria-expanded=true] ._button__icon_1jidj_169:after {
    background: var(--color-primary);
}

@media screen and (max-width: 767px) {
    ._button__icon_1jidj_169 {
        position:absolute;
        inset: 0;
        width: 100%;
        height: 100%;
    }

    ._button__icon_1jidj_169:before,._button__icon_1jidj_169:after {
        position: absolute;
        left: 28%;
        content: "";
        display: inline-block;
        background: var(--color-secondary);
        height: 2px;
        border-radius: 24px;
    }

    ._button__icon_1jidj_169:before {
        top: 18px;
        width: 20px;
    }

    ._button__icon_1jidj_169:after {
        top: 26px;
        width: 30px;
    }
}

@media screen and (max-width: 767px) {
    ._button__text_1jidj_200 {
        font-size:14px;
    }
}

._root_1j163_1 {
    display: flex;
    gap: 20px;
}

._root_1j163_1 a {
    display: block;
    width: 20px;
    height: 20px;
    transition: scale .3s;
}

@media (hover: hover) {
    ._root_1j163_1 a:where(:any-link,:enabled,summary):hover {
        scale:1.2;
    }
}

._root_1j163_1 svg {
    width: 100%;
    height: 100%;
}


.contentsLayout[data-astro-cid-scuu7fyy] {
    margin-inline:auto}

@media screen and (max-width: 767px) {
    .contentsLayout[data-astro-cid-scuu7fyy] {
        padding:0 16px;
    }
}









  .introduction{
       background-color: var(--color-white);
       margin-bottom: -4px;
       padding-bottom: 4px;
       overflow: hidden;
   }
   
   
   
   .introduction__container {
       display: flex;
       align-items: center;
       width: 100%;
       max-width: 85.375rem;
       margin: 0 auto;
   }
   
   .introduction__content {
       padding: 6.125rem 0 6.125rem 9.5168374817%;
       max-width: 47.364568082%;
   }
   
   
   
   
   .introduction__heading {
    font-family: 'Shippori Mincho', sans-serif;
        font-size: 1.4rem;
       line-height: 1.7;
       transition: 2s cubic-bezier(.16,1,.3,1);
       font-style: italic;

   }
   
   
   h1, h2, h3, h4, h5, h6 {
        font-family: 'Shippori Mincho', sans-serif;

       font-size: inherit;
       font-weight: inherit;
       margin: 0;
   }
   
   
   
   .introduction__text{
        font-family: 'Shippori Mincho B1',serif;
       line-height: 2.3076923077;
       margin-top: 3.125rem;
       transition: .6s 1s;
       font-size: 0.9rem;
       letter-spacing: .05em;


   }
   

   p, table, blockquote, address, pre, iframe, form, figure, dl {
       margin: 0;
   }
   
   *, :before, :after {
       box-sizing: border-box;
       border-style: solid;
       border-width: 0;
   }
   
   .introduction__map{
       display: block;
       flex: 1;
       margin-right: -1.25rem;
       padding-left: 2.5rem;
   }
   
   p, table, blockquote, address, pre, iframe, form, figure, dl {
       margin: 0;
   }
   
   


            @media print, screen and (max-width: 767px) {


    .introduction__map[data-astro-cid-v2cbyr3p]{
    padding-left: 0;
}

    .introduction__container{
    flex-direction: column; /* Stack elements vertically on smaller screens */
    align-items: center;
  }

  .introduction__content {
    padding: 2.5rem 0; /* Adjust padding for spacing */
    text-align: center; /* Center text on smaller screens */
  }

  .introduction__map{
    display: block;
    margin: 0;
    width: 100%; /* Make the image take up 100% of the width */
  }

  .introduction__text {
    margin-top: 1.25rem; /* Add space between image and text */
    text-align: left; /* Center text */
    font-size: 0.95rem;
    padding-top: 30px;
  }

  .introduction__heading {
    font-size: 1.2rem;
    line-height: 1.7;
  }

  .introduction__content {
       max-width: 80%;
   }
}





.sp {
    display: none !important;
}

@media screen and (max-width:767px) {
    .pc {
        display: none !important;
    }
    .sp {
        display: block !important;
    }
}




*,:before,:after {
    box-sizing: border-box;
    border-style: solid;
    border-width: 0
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}

body {
    margin: 0
}

main {
    display: block
}

p,table,blockquote,address,pre,iframe,form,figure,dl {
    margin: 0
}

h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    font-weight: inherit;
    margin: 0
}




hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    border-top-width: 1px;
    margin: 0;
    clear: both;
    color: inherit
}


a {
    background-color: transparent;
    text-decoration: none;
    color: inherit
}

img{
    max-width: 100%;
    height: auto;
}








</style>

