---
interface Props {
	title: string;
	description?: string;
	image?: string
}

const { title,description,image } = Astro.props;

import Header from "../components/Header.astro";
import Main from "../components/Main.astro";
import Footer from "../components/Footer.astro";
import '@fontsource/shippori-mincho';


---

<!doctype html>
<html lang="ja">
	<head>

		<meta name="astro-view-transitions-fallback" content="animate">
	
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		

		<title>公式 Pirca Mabui</title>
		<meta name="description" content="北海道-革製品ハンドメイドのオンラインストアです。鞄、財布、キーケース、ミニマムな財布まで、革のパーツごとを素材別で選択ができるため、唯一無二の「とくべつな色」をお届けします。" />
		<meta name="format-detection" content="telephone=no" />

		<link rel="icon" href="/king.png">
		<link rel="apple-touch-icon" href="/king.png" sizes="180x180">
	

		<title>{title}</title>
	</head>
	<body>
		<Header />
		<Main />

		<Footer />
		<slot />
	</body>
</html>

